In [ ]:
#The Functionizaled Historical Tweets Analysis

In [ ]:
#Libraries

In [1]:
#Part 1: All Libraries from the top
import requests
import os
import json
import socket
import sys
import errno
import time
import sys
import pandas as pd
from io import StringIO
import numpy as np
import spacy

In [2]:
#Part 2: Libraries for the getting the latest file
import glob
import os.path

In [3]:
#Part 3: Libraries to get the time of when the batch is imported 
#https://www.programiz.com/python-programming/datetime/current-datetime
from datetime import datetime

In [4]:
#Part 5: English Analysis Libraries needed:
import nltk
nltk.download('punkt')
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sentianalyzer = SentimentIntensityAnalyzer()
#This time we will add the individual sentiment to the tweet
from nltk.tokenize import sent_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/johnc.burns/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/johnc.burns/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [5]:
#Import Google Maps API
import googlemaps
gmaps = googlemaps.Client(key = "AIzaSyDntbz0oR6KLfWl_BYZj1LCTS_iQUWv1Cg")

In [6]:
#Part 6: Spanish Anaysis Libraries Needed:
from sklearn.model_selection import train_test_split
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as tf_text
from tensorflow import keras
from tensorflow.keras import layers
import joblib

In [7]:
#Part 7: French Libraries Needed
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [8]:
#Part 9: Arabic Libraries Needed
from transformers import pipeline

In [9]:
#Part 10: Japanese Libraries Needed
import csv

In [10]:
#Part 11: Korean Libraries Needed
from transformers import pipeline
import numpy as np
import csv
#Import konlpy
from konlpy.tag import Okt
from konlpy.utils import pprint

In [11]:
#Part 12: Library needed to append the new data file to the existing csv
from csv import writer

In [12]:
#Part 13: Library Create a map with Folium
#http://python-visualization.github.io/folium/quickstart.html#Getting-Started
import folium

In [13]:
#Step 14: Library needed to translate the locations to English
from deep_translator import GoogleTranslator

In [14]:
#Step 0.5: Import data

In [15]:
#full_json_df = pd.read_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Tweets_Full/Full_File/Full_one.json")
#full_json_df.tail()

In [16]:
#df_s2 = full_json_df.reset_index(drop = True)
#df_s2.tail()

In [17]:
#full_json_df.info()

In [18]:
#full_json_df["cat"].isna().sum()

In [19]:
#full_json_df["tag"].isna().sum()

In [20]:
#full_json_df["scale"].isna().sum()

In [21]:
#full_json_df["lang"].isna().sum()

In [22]:
#full_json_df["created_at"].isna().sum()

In [23]:
#full_json_df["text"].isna().sum()

In [24]:
#Fixes for the full file
#fjd_fix = full_json_df[full_json_df["tag"].isnull()]
#fjd_fix.head()

In [25]:
#fjd_fix.tail()

In [26]:
#fjd_fix2 = fjd_fix.reset_index(drop = True)
#fjd_fix2.tail()

In [27]:
#fjd_fix2["cat"].unique()

In [28]:
#Replacing the tag variable
#fjd_fix2["tag2"] = "GN"
#fjd_fix2.tail()

In [29]:
#Drop tag column
#fjd_fix3 = fjd_fix2.drop("tag", axis = 1)
#fjd_fix3

In [30]:
#rename columns
#fjd_fix4 = fjd_fix3.rename(columns = {"tag2": "tag"})
#fjd_fix4

In [31]:
#Drop the nas
#full_2 = full_json_df.dropna()
#full_3 = full_2.reset_index(drop = True)
#full_3.tail()

In [32]:
#full_3.info()

In [33]:
#Combine the fixed dataframe
#full_4 = full_3.append(fjd_fix4)
#full_5 = full_4.reset_index(drop = True)
#full_5.tail()

In [34]:
#full_5.info()

In [35]:
#Take random sample for testing
#df_sample = full_json_df.sample(frac = 0.0001, replace = True, random_state = 1)
#df_sample.tail()

In [36]:
#len(df_sample)

In [37]:
#df_s2 = df_sample.reset_index()
#df_s2.tail()

In [38]:
#df_s3 = df_s2.dropna()
#df_s4 = df_s3.reset_index()
#df_s4.tail()

In [39]:
#Step 1: The constant variables

In [40]:
#Part 2.5: Import the English BERT Model
#Multilingual BERT model, had 80.8% accuracy on Full Twitter Data
#multi_sa_en = pipeline(model= "cardiffnlp/twitter-xlm-roberta-base-sentiment")

In [41]:
#Part 3: Import RNN Spanish Model #GET CORRECT SPANISH MODEL
RNN_sp_model = joblib.load('/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/RNN_Spanish_2tass.joblib')
RNN_sp_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, None, 768)         116768000

 dense (Dense)               (None, None, 128)         98432

 dropout (Dropout)           (None, None, 128)         0

 gru (GRU)                   (None, None, 64)          37248

 dropout_1 (Dropout)         (None, None, 64)          0

 gru_1 (GRU)                 (None, 32)                9408

 dropout_2 (Dropout)         (None, 32)                0

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 116,913,121
Trainable params: 145,121
Non-trainable params: 116,768,000
_________________________________________________________________

In [42]:
#Part 4: Import the French RNN Model
RNN_fr_model = joblib.load('/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/RNN_French_1.joblib')
RNN_fr_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, None, 768)         116768000

 dense (Dense)               (None, None, 128)         98432

 dropout (Dropout)           (None, None, 128)         0

 gru (GRU)                   (None, 128)               99072

 dropout_1 (Dropout)         (None, 128)               0

 dense_1 (Dense)             (None, 1)                 129

=================================================================
Total params: 116,965,633
Trainable params: 197,633
Non-trainable params: 116,768,000
_________________________________________________________________

In [43]:
#Part 5: Import Portuguese RNN Model
RNN_pt_model = joblib.load('/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/RNN_pt_2.joblib')
RNN_pt_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, None, 768)         116768000

 dense (Dense)               (None, None, 128)         98432

 dropout (Dropout)           (None, None, 128)         0

 gru (GRU)                   (None, None, 64)          37248

 dropout_1 (Dropout)         (None, None, 64)          0

 gru_1 (GRU)                 (None, None, 64)          24960

 dropout_2 (Dropout)         (None, None, 64)          0

 gru_2 (GRU)                 (None, 32)                9408

 dropout_3 (Dropout)         (None, 32)                0

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 116,938,081
Trainable params: 170,081
Non-trainable params: 116,768,000
_________________________________________________________________

In [44]:
#Part 6: Import the Arabic Sentiment Analysis Hugging Face Model
#https://huggingface.co/CAMeL-Lab/bert-base-arabic-camelbert-mix-sentiment
sa_ar = pipeline("sentiment-analysis", model = 'CAMeL-Lab/bert-base-arabic-camelbert-mix-sentiment')

In [45]:
#Part 7: NER Arabic Hugging Face Model
#https://huggingface.co/hatmimoha/arabic-ner
#https://github.com/hatmimoha/arabic-ner
nlp_ar_2 = pipeline("ner", model = 'hatmimoha/arabic-ner')

In [46]:
#Part 8: Import RNN Japanese Model
RNN_ja_model = joblib.load('/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/RNN_Japanese_1.joblib')
RNN_ja_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, None, 768)         116768000

 dense (Dense)               (None, None, 256)         196864

 dropout (Dropout)           (None, None, 256)         0

 bidirectional (Bidirectiona  (None, None, 256)        296448
 l)

 dropout_1 (Dropout)         (None, None, 256)         0

 bidirectional_1 (Bidirectio  (None, 256)              296448
 nal)

 dropout_2 (Dropout)         (None, 256)               0

 dense_1 (Dense)             (None, 1)                 257

=================================================================
Total params: 117,558,017
Trainable params: 790,017
Non-trainable params: 116,768,000
_________________________________________________________________

In [47]:
#Step 9: Import RNN Korean Model
RNN_ko_model = joblib.load('/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 7/Twitter Language Samples/Korean/Korean RNN Test/RNN_ko.joblib')
RNN_ko_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, None, 768)         116768000

 dense (Dense)               (None, None, 128)         98432

 gru (GRU)                   (None, None, 128)         99072

 dropout (Dropout)           (None, None, 128)         0

 gru_1 (GRU)                 (None, None, 64)          37248

 dropout_1 (Dropout)         (None, None, 64)          0

 gru_2 (GRU)                 (None, 32)                9408

 dropout_2 (Dropout)         (None, 32)                0

 dense_1 (Dense)             (None, 1)                 33

=================================================================
Total params: 117,012,193
Trainable params: 244,193
Non-trainable params: 116,768,000
_________________________________________________________________

In [48]:
#Part 9: Import Korean Stop Words:
#ko_stopwords = pd.read_csv("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/stopwords-ko.txt", delimiter = "\t", quoting=csv.QUOTE_NONE, encoding = "utf-8")
#ko_stopwords.columns = ["word"]
#ko_stopwords.head()

In [49]:
#Part 10: Import the Korean World Data Set
df_ko_world = pd.read_csv("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/Ko_World_Token.csv")
df_ko_world.head()

   Unnamed: 0   id  name alpha2 alpha3       tokenized token
0           0  288    가나     gh    gha          ['가나']    가나
1           1  266    가봉     ga    gab    ['가', '##봉']     가
2           2  328  가이아나     gy    guy  ['가이', '##아나']    가이
3           3  270   감비아     gm    gmb   ['감', '##비아']     감
4           4  831   건지섬     gg    ggy   ['건지', '##섬']    건지

In [50]:
#Part 11: Import the Korean MNB Token List #CAN DELETE WON'T NEED
#ko_mnb_tokens = pd.read_csv("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/Korean_MNB_Token2.csv")
#ko_mnb_tokens.head()

In [51]:
#Part 12: Define the okt function from KoNLPy
okt = Okt()

In [52]:
#Part 13: Create list of topics
topic_list = ["Goldstein Positive", "Goldstein Negative"]

In [53]:
#Step 14: Import Country - Production Excel File
#country_product = pd.read_excel("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/continents2.xls")
#country_product_2 = country_product.rename(columns = {"name":"textloc_en"})

In [54]:
#Step 15: Import Topic - Industry Excel File
#Topic_Product = pd.read_excel("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/Topic_Industry.xlsx")
#Topic_Product_2 = Topic_Product.rename(columns = {"Topic_Label":"tag"})

In [55]:
#Step 16: Import the Topic - Financial Data
#Topic_Finance = pd.read_excel("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/Topic_Financial.xlsx")
#Topic_Finance_2 = Topic_Finance.rename(columns = {"Topic_Label":"Topics"})

In [56]:
#Step 17: Counter Token
#counter_2 = 0

In [57]:
#The Functions

In [58]:
#Step 11: Create the Date Function
def date_func(df):
    df["Date"] = ""
    lendf = len(df)
    for i in range(lendf):
        df["Date"][i] = str(df["created_at"][i])
    return df

In [59]:
#Step 12: Create the Year Function
def year_func(df):
    df["Year"] = ""
    lendf = len(df)
    for i in range(lendf):
        df["Year"][i] = int(df["Date"][i][0:4]) 
    return df

In [60]:
#Step 13: Create the Month Function
def month_func(df):
    df["Month"] = ""
    lendf = len(df)
    for i in range(lendf):
        df["Month"][i] = int(df["Date"][i][5:7])
    return df

In [61]:
#Step 14: Create the Day Function
def day_func(df):
    df["Day"] = ""
    lendf = len(df)
    for i in range(lendf):
        df["Day"][i] = int(df["Date"][i][8:10])
    return df

In [62]:
#Step 17.5: Data Combos Function
def date_combos(df):
    #df["Year_Month_Day"] = 0
    df["Month_Day"] = 0
    #df["Day_Hour"] = 0
    #df["Month_Day_Hour"] = 0 
    lendf = len(df)
    for i in range(0, lendf):
        #df["Year_Month_Day"][i] = ((((df["Year"][i]))*365) + ((((df["Month"]))*30) - 1) + ((df["Day"][i])))
        df["Month_Day"][i] = (((df["Month"][i])*30) + df["Day"][i])
        #df["Day_Hour"][i] = (((df["Day"][i])*24) + df["Hour"][i])
        #df["Month_Day_Hour"][i] = (((df["Month"][i])*730) + ((df["Day"][i])*24) + (df["Hour"][i]))
    return df

In [63]:
#Step 18: Sort Chronologically Function Sort by the Year, Month, Day, Hour, Minute, Second
def sort_chrono(df):
    df2 = df.sort_values(by = ['Year', 'Month', 'Day'], ascending = ['False', 'False', 'False'], na_position = 'first')
    df3 = df2.reset_index(drop = True)
    return df3

In [64]:
#Part 6: Break into English Tweets
def English_Tweets_Func(df_gt):
    English_Tweets = df_gt[df_gt['lang'] == "en"]
    English_Tweets.reset_index(drop = True, inplace = True)
    English_Tweets['TweetNumber'] = np.arange(len(English_Tweets))
    return English_Tweets

In [65]:
#Part 7: Break into Spanish Tweets
def Spanish_Tweets_Func(df_gt):
    Spanish_Tweets = df_gt[df_gt['lang'] == "es"]
    Spanish_Tweets.reset_index(drop = True, inplace = True)
    Spanish_Tweets['TweetNumber'] = np.arange(len(Spanish_Tweets))
    return Spanish_Tweets

In [66]:
#Part 8: Break into French Tweets
def French_Tweets_Func(df_gt):
    French_Tweets = df_gt[df_gt['lang'] == "fr"]
    French_Tweets.reset_index(drop = True, inplace = True)
    French_Tweets['TweetNumber'] = np.arange(len(French_Tweets))
    return French_Tweets

In [67]:
#Part 9: Break into Portuguese Tweets
def Portuguese_Tweets_Func(df_gt):
    Portuguese_Tweets = df_gt[df_gt['lang'] == "pt"]
    Portuguese_Tweets.reset_index(drop = True, inplace = True)
    Portuguese_Tweets['TweetNumber'] = np.arange(len(Portuguese_Tweets))
    return Portuguese_Tweets

In [68]:
#Part 10: Break into Arabic Tweets
def Arabic_Tweets_Func(df_gt):
    Arabic_Tweets = df_gt[df_gt['lang'] == "ar"]
    Arabic_Tweets.reset_index(drop = True, inplace = True)
    Arabic_Tweets['TweetNumber'] = np.arange(len(Arabic_Tweets))
    return Arabic_Tweets

In [69]:
#Part 11: Break into Japanese Tweets
def Japanese_Tweets_Func(df_gt):
    Japanese_Tweets = df_gt[df_gt['lang'] == "ja"]
    Japanese_Tweets.reset_index(drop = True, inplace = True)
    Japanese_Tweets['TweetNumber'] = np.arange(len(Japanese_Tweets)) 
    return Japanese_Tweets

In [70]:
#Part 12: Break into Korean Tweets
def Korean_Tweets_Func(df_gt):
    Korean_Tweets = df_gt[df_gt['lang'] == "ko"]
    Korean_Tweets.reset_index(drop = True, inplace = True)
    Korean_Tweets['TweetNumber'] = np.arange(len(Korean_Tweets))
    return Korean_Tweets

In [71]:
def english_analysis(df):
    #Length of the English Tweets
    LenEnT = len(df.index)
    LenEnT

    #Create a new dataframe
    EnTCompound = pd.DataFrame([])
    EnTSentence = pd.DataFrame([])

    #This loop takes the contents from each article, tokenizes each sentence in the article, counts the number of 
    #sentences in the article and then gets the sentiments of each sentence and exports those sentiments to a dataframe
    for i in np.arange(0, LenEnT):
        dtestent = df["text"][i]
        dictionary = sentianalyzer.polarity_scores(dtestent)
        c1 = dictionary.get('compound')
        EnTCompound = EnTCompound.append(pd.DataFrame({'Compound': c1}, index = [0]), ignore_index = True)
    
    #Add the Sentiment to the DataFrame
    frames = [df, EnTCompound]
    finalent = pd.concat(frames, axis = 1)
    
    #Normalize the Sentiment
    #1. Conditions
    conditions_eng = [
        (finalent['Compound'] <= -0.25),
        (finalent['Compound'] > -0.25) & (finalent['Compound'] < 0.25),
        (finalent['Compound'] >= 0.25)
    ]
    
    #2. Values
    values_eng = [-1, 0, 1]
    
    #3. New Variable
    finalent['Sentiment'] = np.select(conditions_eng, values_eng)
    
    #Matching Patterns for countries for GeoCoding
    lenentw = len(finalent["text"])

    #Create a new dataframe
    ettext = pd.DataFrame([])
    etlabel = pd.DataFrame([])
    ettweet = pd.DataFrame([])

    #Initialize the NLP in Spacy
    nlp = spacy.load("en_core_web_sm")
    for i in np.arange(0, lenentw):
        etspacy = finalent["text"][i]
        doc = nlp(etspacy)
        for ent in doc.ents:
            ettext = ettext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
            etlabel = etlabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
            ettweet = ettweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
    
    #Combining the Spacy Findings
    frames_spacy = [ettweet, ettext, etlabel]
    finalent_spacy = pd.concat(frames_spacy, axis = 1)
    
    #Keep only the GPE entities
    gpedf = finalent_spacy[finalent_spacy['label'] == "GPE"]
    
    #Left Merge Back the GPE labels to the tweets
    etlocations = pd.merge(finalent, gpedf, on = "TweetNumber", how = "left")

    #Left Merge The Lat and Long into to the tweets
    etcoord = etlocations
    return etcoord

In [72]:
#Part 14: Spanish Convert Sentiment Results to -1, 1 
#CHANGE THE CONVERSION RULES
def convert_sp(df, i):
    if (df["results"][i][0]) > 0.935:
        return 1
    else:
        return -1

In [73]:
#Part 15: THIS IS THE SPANISH ANALYSIS FUNCTION
#https://stackoverflow.com/questions/38895768/python-pandas-dataframe-is-it-pass-by-value-or-pass-by-reference
def spanish_analysis(df):
    
    #Part 1: Sentiment Analysis with Spanish RNN
    
    #Step 1: Transform the pandas data frame into a tensor frame dataframe for text
    
    twsp_ran = (
    tf.data.Dataset.from_tensor_slices(
    
        (
            tf.cast(df['text'].values, tf.string),
            
        )
        
        )
    )
    
    #Step 2: Batch the data
    batch_size = 2
    twsp_ran_set = twsp_ran.batch(batch_size).prefetch(1)
    
    #Step 3: Predict the Sentiment for the data
    twsp_predict = RNN_sp_model.predict(twsp_ran_set)
    
    #Step 4: Append the predictions to the pandas dataframe 
    df["results"] = twsp_predict.tolist()
    
    #Step 5: Convert Results to -1, 1
    lendtt = len(df)
    df["Sentiment"] = 0
    for i in range(0, lendtt):
        df["Sentiment"][i] = convert_sp(df, i)
    
    
    #Part 2: Get the NER, Location Text, and Coordinates 
    
    #Get the length of the finalspt dataframe
    lensptw = len(df["text"])

    #First: Create the new dataframes to capture the different NER parts
    spttext = pd.DataFrame([])
    sptlabel = pd.DataFrame([])
    spttweet = pd.DataFrame([])

    #Second: Initialize the NLP in Spacy
    nlp = spacy.load("es_core_news_sm")
    for i in np.arange(0, lensptw):
        sptspacy = df["text"][i]
        doc_sp = nlp(sptspacy)
        for ent in doc_sp.ents:
            spttext = spttext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
            sptlabel = sptlabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
            spttweet = spttweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
    
    #Third: Combining the Spacy Spanish Findings
    frames_spacy_sp = [spttweet, spttext, sptlabel]
    finalent_spacy_sp = pd.concat(frames_spacy_sp, axis = 1)
    
    #Fourth: Keep only the GPE parts 
    gpedf_sp = finalent_spacy_sp[finalent_spacy_sp['label'] == "LOC"]
    
    #Fifth: Merge the GPE on the Main Data Frame
    sptlocations = pd.merge(df, gpedf_sp, on = "TweetNumber", how = "left")
    
    #Left Merge The Lat and Long into to the tweets
    sptcoord = sptlocations
    return sptcoord

In [74]:
#Part 16: French Convert Results to -1, 1
def convert_fr(df, i):
    if (df["results"][i][0]) > 0.5:
        return 1
    else:
        return -1

In [75]:
#Part 17: French Analysis Function Update
def french_analysis(df):
    
    #Part 1: Sentiment Analysis
    
    #Step 1: Transform the pandas data frame into a tensor frame dataframe for text
    twfr_ran = (
    tf.data.Dataset.from_tensor_slices(
    
        (
            tf.cast(df['text'].values, tf.string),
            
        )
        
        )
    )
    
    #Step 2: Batch the data, hopefully
    batch_size = 128
    twfr_ran_set = twfr_ran.batch(batch_size).prefetch(1)
    
    #Step 3: Predict the Sentiment for the data
    twfr_predict = RNN_fr_model.predict(twfr_ran_set)
    
    #Step 4: Append the predictions to the pandas dataframe 
    df["results"] = twfr_predict.tolist()
    
    #Step 5: Convert Results to -1, 1
    lendfr = len(df)
    df["Sentiment"] = 0
    for i in range(0, lendfr):
        df["Sentiment"][i] = convert_fr(df, i)
    
    #Part 2: Get the NER, Location Text, and Coordinates, 
    
    #Step 4: Put the Index Number as Tweet Number
    #https://stackoverflow.com/questions/20461165/how-to-convert-index-of-a-pandas-dataframe-into-a-column
    df["TweetNumber"] = df.index
    
    #Step 5: NER Spacy for French 
    lendfr2 = len(df["text"])

    #Create a new dataframe
    frtext = pd.DataFrame([])
    frlabel = pd.DataFrame([])
    frtweet = pd.DataFrame([])

    #Initialize the NLP in Spacy
    nlp_fr_sp = spacy.load("fr_core_news_sm")
    for i in np.arange(0, lendfr2):
        frspacy = df["text"][i]
        doc = nlp_fr_sp(frspacy)
        for ent in doc.ents:
            frtext = frtext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
            frlabel = frlabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
            frtweet = frtweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
    
    #Step 6: Combining the Spacy Findings
    frames_spacy_fr = [frtweet, frtext, frlabel]
    finalent_spacy_fr = pd.concat(frames_spacy_fr, axis = 1)
    
    #Step 7: Keep only the LOC entities
    gpedf_fr = finalent_spacy_fr[finalent_spacy_fr['label'] == "LOC"]
    
    #Step 8: Left Merge Back the GPE labels to the tweets
    frlocations = pd.merge(df, gpedf_fr, on = "TweetNumber", how = "left")
    
    #Step 12: Left Merge The Lat and Long into to the tweets
    frcoord = frlocations 
    return frcoord

In [76]:
#Part 18: Portuguese Convert Sentiment Results to 0, 1
def convert_pt_rnn(df, i):
    if df["results"][i][0] > 0.8:
        return 1
    else:
        return -1

In [77]:
#Part 19: Main Portuguese Function
def portuguese_analysis(df):
    
    #Part 1: Sentiment Analysis
    #Step 1: Transform the pandas data frame into a tensor frame dataframe for text
    twpt_ran = (
    tf.data.Dataset.from_tensor_slices(
    
        (
            tf.cast(df['text'].values, tf.string),
            
        )
        
        )
    )
    
    #Step 2: Batch the data, hopefully
    batch_size = 4
    twpt_ran_set = twpt_ran.batch(batch_size).prefetch(1)
    
    #Step 3: Predict the Sentiment for the data
    twpt_predict = RNN_pt_model.predict(twpt_ran_set)
    
    #Step 4: Append the predictions to the pandas dataframe 
    df["results"] = twpt_predict.tolist()
    
    #Step 5: Convert Results to 0, 1
    lendtt = len(df)
    df["Sentiment"] = 0
    for i in range(0, lendtt):
        df["Sentiment"][i] = convert_pt_rnn(df, i)
    
    #Part 2: Named Entity Recognition and Geocoding for Coordinates
    
    #Step 1: Length of Dataframe
    lenpttw = len(df["text"])

    #Step 2: Create a new dataframe for Appending
    pttext = pd.DataFrame([])
    ptlabel = pd.DataFrame([])
    pttweet = pd.DataFrame([])

    #Step 3: Initialize the NLP in Spacy
    nlp_pt = spacy.load("pt_core_news_sm")
    for i in np.arange(0, lenpttw):
        ptspacy = df["text"][i]
        doc = nlp_pt(ptspacy)
        for ent in doc.ents:
            pttext = pttext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
            ptlabel = ptlabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
            pttweet = pttweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
            
    #Step 4: Combining the Spacy Findings
    frames_spacy_pt = [pttweet, pttext, ptlabel]
    finalpt_spacy = pd.concat(frames_spacy_pt, axis = 1)
    
    #Step 5: Keep only the LOC entities
    gpedf_pt = finalpt_spacy[finalpt_spacy['label'] == "LOC"]
    
    #Step 6: Left Merge Back the GPE labels to the tweets
    ptlocations = pd.merge(df, gpedf_pt, on = "TweetNumber", how = "left")
    
    #Step 10: Left Merge The Lat and Long into to the tweets
    ptcoord = ptlocations
    return ptcoord

In [78]:
#Part 20: Arabic Convert Sentiment Results to -1, 0, 1
def convert_ar(df, i):
    if df["Sentiment_label"][i] == "positive":
        return 1
    elif df["Sentiment_label"][i] == "negative":
        return -1
    else:
        return 0

In [79]:
#Part 21: Main Arabic Analysis Function
def arabic_analysis(df):
    
    #Part 1: Sentiment Analysis
    
    #Step 1: Use the tranformer to get the sentiment 
    lendar2 = len(df)
    df["Sentiment_label"] = ""
    for i in range(0, lendar2):
        ar_sa_test = sa_ar(df["text"][i])
        df["Sentiment_label"][i] = ar_sa_test[0]['label']
    
    #Step 2: Convert the Results
    df["Sentiment"] = 0
    for i in range(0, lendar2):
        df["Sentiment"][i] = convert_ar(df, i)
            
    #Part 2: Use the Second Tranformer for the NER Locations
    
    #Step 1: Get the list of locations named in tweets
    df["Location"] = ""
    lennat2 = len(df)
    for i in range(0, lennat2):
        named_test1 = nlp_ar_2(df["text"][i])
        if not named_test1:
            df["Location"][i] = "---"
        else:
            entity_list = []
            word_list = []
            for j in range(0, len(named_test1)):
                entity_list.append(named_test1[j]["entity"])
                word_list.append(named_test1[j]["word"])
                entity_index = [m for m, x in enumerate(entity_list) if x == "LABEL_4"]
                location_list = [word_list[k] for k in entity_index]
            df["Location"][i] = location_list
            
    #Step 2: Get a Single Location
    #This might be changed in the future if I can make multiple copies of a tweet for each location
    df["textloc"] = ""
    for i in range(0, len(df["textloc"])):
        if not df["Location"][i]:
            df["textloc"][i] = "---"
        else:
            single_loc = df["Location"][i][0]
            df["textloc"][i] = single_loc
            
    #Step 3: Drop the All Locations
    df2 = df.drop(["Location"], axis = 1)
    
    #Step 4: Reform the data
    arcoord = df2.reset_index(drop = True)
    return arcoord

In [80]:
#Part 22: Convert Japanese Sentiment Analysis Results to 0, 1
def convert_japanese(df, i):
    if (df["results"][i][0]) > 0.5:
        return 1
    else:
        return -1

In [81]:
#Part 23: The Main Japanese Function
def japanese_analysis(df):
    
    #Part 1: Sentiment Analysis
    
    #Step 1: Transform the pandas data frame into a tensor frame dataframe for text
    twja_ran = (
    tf.data.Dataset.from_tensor_slices(
    
        (
            tf.cast(df['text'].values, tf.string),
            
        )
        
        )
    )
    
    #Step 2: Batch the data, hopefully
    batch_size = 32
    twja_ran_set = twja_ran.batch(batch_size).prefetch(1)
    
    #Step 3: Predict the Sentiment for the data
    twja_predict = RNN_ja_model.predict(twja_ran_set)
    
    #Step 4: Append the predictions to the pandas dataframe 
    df["results"] = twja_predict.tolist()
    
    #Step 5: Convert Results to -1, 0, 1
    lendttja = len(df)
    df["Sentiment"] = 0
    for i in range(0, lendttja):
        df["Sentiment"][i] = convert_japanese(df, i)
            
    #Part 2: Named Entity Recognition Japanese
    
    #Step 1: Length of Dataframe
    lenjatw = len(df["text"])
    
    #Step 2: Create a new dataframe for Appending
    jatext = pd.DataFrame([])
    jalabel = pd.DataFrame([])
    jatweet = pd.DataFrame([])
    
    #Step 3: Initialize the NLP in Spacy
    nlp_ja = spacy.load("ja_core_news_sm")
    for i in np.arange(0, lenjatw):
        jaspacy = df["text"][i]
        doc = nlp_ja(jaspacy)
        if not doc.ents:
            jatext = jatext.append(pd.DataFrame({'textloc': np.nan}, index = [0]), ignore_index = True)
            jalabel = jalabel.append(pd.DataFrame({'label': np.nan}, index = [0]), ignore_index = True)
            jatweet = jatweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
        else:
            for ent in doc.ents:
                jatext = jatext.append(pd.DataFrame({'textloc': ent.text}, index = [0]), ignore_index = True)
                jalabel = jalabel.append(pd.DataFrame({'label': ent.label_}, index = [0]), ignore_index = True)
                jatweet = jatweet.append(pd.DataFrame({'TweetNumber': [i]}, index = [0]), ignore_index = True)
            
    #Step 4: Combining the Spacy Findings
    frames_spacy_ja = [jatweet, jatext, jalabel]
    finalja_spacy = pd.concat(frames_spacy_ja, axis = 1)
    
    #Step 5: Keep only the GPE entities
    gpedf_ja = finalja_spacy[finalja_spacy["label"] == "GPE"]
    
    #Step 6: Left Merge Back the GPE labels to the tweets
    jalocations = pd.merge(df, gpedf_ja, on = "TweetNumber", how = "left")
    jacoord = jalocations
    return jacoord

In [82]:
#Step 4.5: Convert Results to 0, 1
def convert_korean(df, i):
    if (df["results"][i][0]) > 0.5:
        return 1
    else:
        return -1

In [83]:
#Part 25: Korean Analysis Function
def korean_analysis(df):

    #Part 1: Sentiment Analysis with Korean RNN
    
    #Step 1: Transform the pandas data frame into a tensor frame dataframe for text
    twko_ran = (
        tf.data.Dataset.from_tensor_slices(
            
            (
                tf.cast(df['text'].values, tf.string),
            )
            
            )
    )
    
    #Step 2: Batch the data, hopefully
    batch_size = 4
    twko_ran_set = twko_ran.batch(batch_size).prefetch(1)
    
    #Step 3: Predict the Sentiment for the data
    twko_predict = RNN_ko_model.predict(twko_ran_set)
    
    #Step 4: Append the predictions to the pandas dataframe 
    df["results"] = twko_predict.tolist()
    
    #Step 5: Convert Results to -1, 0, 1
    lendttko = len(df["text"])
    df["Sentiment"] = 0
    for i in range(0, lendttko):
        df["Sentiment"][i] = convert_korean(df, i)
  
    #Part 2: Text Country and Coordinates  from the text
    
    #Step 1: Create the text_country variable
    df["textloc"] = ""
    lenk2test = len(df["textloc"])
    for i in range(0, lenk2test):
        try:
            #Step 2: Get the text
            text_2 = df["text"][i]
            #Step 3: Using Konlpy get the tokenization of the text and 
            #Transform it into a pandas dataframe
            kt_df_2 = pd.DataFrame(okt.morphs(text_2, norm = True, stem = True))
            kt_df_2.columns = ['name']
            #Step 3: Merge the Token DataFrame on the Tokenized Sentiment Lexicon
            token_text_country_test = pd.merge(kt_df_2, df_ko_world, on = "name", how = "inner")
            #Step 4: Get the first token and put in as the text country, not perfect but good enough
            df["textloc"][i] = token_text_country_test["token"][0]
        except IndexError:
            df["textloc"][i] = ""
    
    #Step 8: Left Merge The Lat and Long into to the tweets
    kocoord = df
    return kocoord

In [84]:
#Use the Analyzer Functions

In [85]:
#Part 26: The English Analyzer Function
def english_df(English_Tweets):
    try:
        english_test_df = english_analysis(English_Tweets)
    except KeyError:
        english_test_df = pd.DataFrame()
    
    return english_test_df

In [86]:
#Part 27: The Spanish Analyzer Function
def spanish_df(Spanish_Tweets):
    try:
        spanish_test_df = spanish_analysis(Spanish_Tweets)
    except ValueError:
        spanish_test_df = pd.DataFrame()
        
    return spanish_test_df

In [87]:
#Part 28: The French Analyzer Function
def french_df(French_Tweets):
    try:
        french_test_df = french_analysis(French_Tweets)
    except ValueError:
        french_test_df = pd.DataFrame()
        
    return french_test_df

In [88]:
#Part 29: The Portuguese Analyzer Function
def portuguese_df(Portuguese_Tweets):
    try:
        portuguese_test_df = portuguese_analysis(Portuguese_Tweets)
    except:
        portuguese_test_df = pd.DataFrame()
        
    return portuguese_test_df

In [89]:
#Part 30: Call the Arabic Analyzer Function
def arabic_df(Arabic_Tweets):
    try:
        arabic_test_df_2 = arabic_analysis(Arabic_Tweets)
        arabic_test_df = arabic_test_df_2.loc[:, ~arabic_test_df_2.columns.duplicated()]
    except ValueError:
        arabic_test_df = pd.DataFrame()

    return arabic_test_df

In [90]:
#Part 31: Call the Japanese Analyzer Function
def japanese_df(Japanese_Tweets):
    try:
        japanese_test_df = japanese_analysis(Japanese_Tweets)
    except ValueError:
        japanese_test_df = pd.DataFrame()
    
    return japanese_test_df

In [91]:
#Part 32: Call the Korean Analyzer Function
def korean_df(Korean_Tweets):
    try:
        korean_test_df = korean_analysis(Korean_Tweets)
    except ValueError:
        korean_test_df = pd.DataFrame()
        
    return korean_test_df

In [92]:
#Part 33: Combine the Data Frames Function:
def create_full(english_test_df, spanish_test_df, french_test_df, portuguese_test_df, arabic_test_df, japanese_test_df, korean_test_df):
    en_sp_df = english_test_df.append(spanish_test_df)
    en_sp_df_2 = en_sp_df.reset_index(drop = True)
    en_sp_fr_df = en_sp_df_2.append(french_test_df)
    en_sp_fr_df_2 = en_sp_fr_df.reset_index(drop = True)
    en_sp_fr_pt_df = en_sp_fr_df_2.append(portuguese_test_df)
    en_sp_fr_pt_df_2 = en_sp_fr_pt_df.reset_index(drop = True)
    en_sp_fr_pt_ar_df = en_sp_fr_pt_df_2.append(arabic_test_df)
    en_sp_fr_pt_ar_df_2 = en_sp_fr_pt_ar_df.reset_index(drop = True)
    en_sp_fr_pt_ar_ja_df = en_sp_fr_pt_ar_df.append(japanese_test_df)
    en_sp_fr_pt_ar_ja_df_2 = en_sp_fr_pt_ar_ja_df.reset_index(drop = True)
    full_df_1 = en_sp_fr_pt_ar_ja_df.append(korean_test_df)
    full_df = full_df_1.drop(["Sentiment_label", "results"], axis = 1)
    full_df.reset_index(drop = True, inplace = True)
    return full_df

In [93]:
#Part 43: Translate the text location to English Function
def translate_to_english(full_df):
    full_dflen = len(full_df["textloc"])
    full_df["textloc_en"] = ""
    for i in range(0, full_dflen):
        try:
            text = full_df["textloc"][i]
            translated = GoogleTranslator(source = "auto", to_lang = "english").translate(text=text)
            full_df["textloc_en"][i] = translated
        except:
            full_df["textloc_en"][i] = ""
            
    return full_df

In [94]:
#Step 46: Construct the Main Function, this will get all the tweets sentiment and dates in order for comparsion
def main_full(full_json_df):
    #counter_2 = 0
    df = full_json_df
    tmfull3 = date_func(df)
    tmfull4 = year_func(tmfull3)
    tmfull5 = month_func(tmfull4)
    tmfull6 = day_func(tmfull5)
    df3 = date_combos(tmfull6)
    English_Tweets_2 = English_Tweets_Func(df3)
    Spanish_Tweets_2 = Spanish_Tweets_Func(df3)
    French_Tweets_2 = French_Tweets_Func(df3)
    Portuguese_Tweets_2 = Portuguese_Tweets_Func(df3)
    Arabic_Tweets_2 = Arabic_Tweets_Func(df3)
    Japanese_Tweets_2 = Japanese_Tweets_Func(df3)
    Korean_Tweets_2 = Korean_Tweets_Func(df3)
    entweet_coord = english_df(English_Tweets_2)
    sptweet_coord = spanish_df(Spanish_Tweets_2)
    frtweet_coord = french_df(French_Tweets_2)
    pttweet_coord = portuguese_df(Portuguese_Tweets_2)
    artweet_coord = arabic_df(Arabic_Tweets_2)
    jatweet_coord = japanese_df(Japanese_Tweets_2)
    kotweet_coord = korean_df(Korean_Tweets_2)
    full_df_2 = create_full(entweet_coord, sptweet_coord, frtweet_coord, pttweet_coord, artweet_coord, jatweet_coord, kotweet_coord)
    return full_df_2

In [95]:
def full_df_no_dups(full_df):
    full_df_no_dups = full_df.drop_duplicates(subset=['text', 'created_at'])
    return full_df_no_dups

In [96]:
#create dataset 
#df_hist_full = main_full(full_5)

In [97]:
#df_hist_full.tail()

In [98]:
#df_hist_full.info()

In [99]:
#df_hist_full["tag"].isna().sum()

In [100]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#hist_grouped = df_hist_full.groupby(["lang", "Sentiment"]).size()
#hist_grouped

In [101]:
#Translate the location
#hist_dff2 = translate_to_english(df_hist_full)
#hist_dff2.tail()

In [102]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#hist_grouped = df_hist_full.groupby(["lang", "textloc_en"]).size()
#hist_grouped

In [103]:
#pd.set_option('display.max_rows', 500)
#hgdf = hist_grouped.to_frame()
#hgdf

In [ ]:
#####################################################################################################################

In [ ]:
#####################################################################################################################

In [ ]:
#####################################################################################################################

In [ ]:
#Part 2: The Topic Modelling, this could wind up being a maybe as well just given the size of the data and the 
#time it takes to run the topic modelling programs

In [ ]:
#Step 0: Libraries
#Step 3: Topics over Time Libraries
import numpy as np
from pprint import pprint
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel
import gensim.test.utils
import spacy
import en_core_web_sm
import nltk
from nltk.corpus import stopwords
import tqdm
#Random other libraries
import requests
import math

In [ ]:
#Step 4: Pretty Printing Library
from pprint import pprint

In [ ]:
#Step 5: Making the Plot Library
#Graphing in Jupiter Notebook
import random
import matplotlib.pyplot as plt
get_ipython().run_line_magic('matplotlib', 'inline')

In [ ]:
#Step 1: Importing The Stopwords
#Step 19: English Stop Words Vector
def stopwords_en_func():
    stop_words_en = stopwords.words('english')
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_en = stop_words_en + custom_stop_words
    return final_stop_words_en

In [ ]:
#Step 20: Spanish Stop Words Vector
def stopwords_sp_func():
    stop_words_sp = stopwords.words('spanish')
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_sp = stop_words_sp + custom_stop_words
    return final_stop_words_sp

In [ ]:
#Step 21: French Stop Words Vector
def stopwords_fr_func():
    stop_words_fr = stopwords.words('french')
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_fr = stop_words_fr + custom_stop_words
    return final_stop_words_fr

In [ ]:
#Step 22: Portuguese Stop Words Vector
def stopwords_pt_func():
    stop_words_pt = stopwords.words('portuguese')
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_pt = stop_words_pt + custom_stop_words
    return final_stop_words_pt

In [ ]:
#Step 23: Arabic Stop Words Vector
def stopwords_ar_func():
    stop_words_ar = stopwords.words('arabic')
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_ar = stop_words_ar + custom_stop_words
    return final_stop_words_ar

In [ ]:
#Step 24: Get the Japanese Stopwords Vector
def stopwords_ja_func():
    stopwords_ja_df = pd.read_csv("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/stopwords-ja.txt", delimiter = "\t", encoding = "utf-8")
    stopwords_ja_df.columns = ["word"]
    stopwords_ja = stopwords_ja_df["word"].values.tolist()
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_ja = stopwords_ja + custom_stop_words
    return final_stop_words_ja

In [ ]:
#Step 25: Import Korean Stop Words
def stopwords_ko_func():
    stopwords_ko_df = pd.read_csv("/Users/johnc.burns/Documents/Documents/PhD Year Two/Mockup 8/stopwords-ko.txt", delimiter = "\t", quoting=csv.QUOTE_NONE, encoding = "utf-8")
    stopwords_ko_df.columns = ["word"]
    stopwords_ko = stopwords_ko_df["word"].values.tolist()
    custom_stop_words = ["http", "https", "co", "com", "app", "go", "amp", "RT", "rt"]
    final_stop_words_ko = stopwords_ko + custom_stop_words
    return final_stop_words_ko

In [ ]:
#Step 2: Removing the Stopwords

In [ ]:
#Step 26: Remove Stop Words English
def stopwords_en(texts, final_stop_words_en):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_en] for doc in texts]

In [ ]:
#Step 27: Remove Stop Words Spanish
def stopwords_sp(texts, final_stop_words_sp):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_sp] for doc in texts]

In [ ]:
#Step 28: Remove Stop Words French
def stopwords_fr(texts, final_stop_words_fr):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_fr] for doc in texts]

In [ ]:
#Step 29: Remove Stop Words Portuguese
def stopwords_pt(texts, final_stop_words_pt):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_pt] for doc in texts]

In [ ]:
#Step 30: Remove Stop Words Arabic
def stopwords_ar(texts, final_stop_words_ar):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_ar] for doc in texts]

In [ ]:
#Step 31: Remove Stop Words Japanese
def stopwords_ja(texts, final_stop_words_ja):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_ja] for doc in texts]

In [ ]:
#Step 32: Remove Stop Words Korean
def stopwords_ko(texts, final_stop_words_ko):
    return[[word for word in simple_preprocess(str(doc)) if word not in final_stop_words_ko] for doc in texts]

In [ ]:
#Step 3: Make the bigram function

In [ ]:
#Step 33: Make bigrams of the words
#Make sure do call this function 7 times for each of the 7 languages
def bigrams(texts):
    bigram = gensim.models.Phrases(texts, min_count = 5, threshold = 100)
    bigram_mod = gensim.models.phrases.Phraser(bigram)
    return [bigram_mod[doc] for doc in texts]

In [ ]:
#Step 4: Lemma the data for the languages you can

In [ ]:
#Step 34: Turn the words into lemmas English
def data_lemmatization_en(texts, allowed_postags = ['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    nlp = spacy.load('en_core_web_sm', disable = ['parser', 'ner'])
    nlp.max_length = 15000000
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent))
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

In [ ]:
#Step 35: Turn the words into lemmas Spanish
def data_lemmatization_sp(texts, allowed_postags = ['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    nlp = spacy.load("es_core_news_sm", disable = ['parser', 'ner'])
    nlp.max_length = 15000000
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent))
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

In [ ]:
#Step 36: Turn the words into lemmas French
def data_lemmatization_fr(texts, allowed_postags = ['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    nlp = spacy.load("fr_core_news_sm", disable = ['parser', 'ner'])
    nlp.max_length = 15000000
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent))
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

In [ ]:
#Step 37: Turn the words into lemmas Portuguese
def data_lemmatization_pt(texts, allowed_postags = ['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    nlp = spacy.load("pt_core_news_sm", disable = ['parser', 'ner'])
    nlp.max_length = 15000000
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent))
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

In [ ]:
#Step 38: Turn the words into lemmas Portuguese
def data_lemmatization_ja(texts, allowed_postags = ['NOUN', 'ADJ', 'VERB', 'ADV']):
    """https://spacy.io/api/annotation"""
    nlp = spacy.load("ja_core_news_sm", disable = ['parser', 'ner'])
    nlp.max_length = 15000000
    texts_out = []
    for sent in texts:
        doc = nlp(" ".join(sent))
        texts_out.append([token.lemma_ for token in doc if token.pos_ in allowed_postags])
    return texts_out

In [ ]:
#Step 5: Create the createlist function
#Step 41: Create topic_id numbers, change dynamically
#https://www.delftstack.com/howto/python/python-list-from-1-to-n/
#topic_id = [0, 1, 2, 3, 4, 5, 6, 7, 8]
def createList(n):
    lst1 = []
    for i in range(n):
        lst1.append(i)
    return(lst1)

In [ ]:
#Step 6: Create the computing coherence function
#Step 42: Detour to focus on hyperparameter tunning of the LDA Model
#https://towardsdatascience.com/evaluate-topic-model-in-python-latent-dirichlet-allocation-lda-7d57484bb5d0
#First build the function to test the hyperparameters of the number of topics (k), the document - topic density
#(alpha) and the Word - topic density (beta), we get the coherence score for each model using the 'c_v' which is 
#measure is based on a sliding window, one-set segmentation of the top words and an indirect confirmation 
#measure that uses normalized pointwise mutual information (NPMI) and the cosine similarity

def compute_coherence_values(corpus, texts, dictionary, k, a, b):

    lda_model_cv = gensim.models.LdaMulticore(corpus = corpus,
                                         id2word = dictionary,
                                         num_topics = k,
                                         random_state = 101,
                                         chunksize = 100,
                                         passes = 10,
                                         alpha = a,
                                         eta = b,
                                          per_word_topics = True,
                                          minimum_probability = 0)
    
    #coherence_model_lda = CoherenceModel(model = lda_model_cv, texts = data_lemma, dictionary = id2word,
    #                                    coherence = 'c_v')
    coherence_model_lda = CoherenceModel(model = lda_model_cv, texts = texts, 
                                         dictionary = dictionary, coherence = 'c_v')
    
    return coherence_model_lda.get_coherence()

In [ ]:
#English LDA

In [ ]:
#Step 43: LDA Hyperparameter Finding function for English
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_en(df_en, final_stop_words_en):
    #Remove stops words
    data_words_nostops_hf = stopwords_en(df_en['text'], final_stop_words_en)
    #Create the bigram from the non stop words
    data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma_hf = data_lemmatization_en(data_words_bigram_hf, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_lemma_hf)
    #Corpus
    texts_hf = data_lemma_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_lemma_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_en = pd.DataFrame(model_results)
    
    return mr_en

In [ ]:
#Step 44: Hyper Parameter Defining for English
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_en(mr_en):
    #Find the right number of topics
    mr2 = mr_en.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_en['Topics'] == top_opt
    mr_to = mr_en[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_en = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_en)
    return hyper_list_en

In [ ]:
#Step 45: Implement the stopwords, bigrams, and lemma functions English
def build_lda_en(df_en, final_stop_words_en, hyper_list_en):
    #Remove stops words
    data_words_nostops = stopwords_en(df_en['text'], final_stop_words_en)
    #Create the bigram from the non stop words
    data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma = data_lemmatization_en(data_words_bigram, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word = corpora.Dictionary(data_lemma)
    #Corpus
    texts = data_lemma
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_en = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_en[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_en[1],
                                              eta = hyper_list_en[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_en[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_en
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_en.print_topics()
    lenpt2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenpt2):
        pt_list = printtopics2[i][1].split('*')
        pt_list_words = []
        lenptl = len(pt_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = pt_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            pt_list_words.append(t_3)
        topic_label_list.append(pt_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_en = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_en

In [ ]:
#Step 46: Visualization of Topics over Time English
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_en(df, hyper_list_en):
    
    #Split Data into individual topics
    topic_dfs_en = {}
    topic_label_list_en = []
    for i in range(0, hyper_list_en[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list_en.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs_en[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors_en = hyper_list_en[0]
    
    color_en = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors_en)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs_en.keys():
        plt.plot(topic_dfs_en[i], color = color_en[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in English Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Day Topic Weight")
    plt.legend((topic_label_list_en))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_EN_Day_")
    plt.close()

In [ ]:
#Step 47: LDA Hyperparameter Finding function for Spanish
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_sp(df_sp, final_stop_words_sp):
    #Remove stops words
    data_words_nostops_hf = stopwords_sp(df_sp['text'], final_stop_words_sp)
    #Create the bigram from the non stop words
    data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma_hf = data_lemmatization_sp(data_words_bigram_hf, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_lemma_hf)
    #Corpus
    texts_hf = data_lemma_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_lemma_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_sp = pd.DataFrame(model_results)
    
    return mr_sp

In [ ]:
#Step 48: Hyper Parameter Defining for Spanish
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_sp(mr_sp):
    #Find the right number of topics
    mr2 = mr_sp.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_sp['Topics'] == top_opt
    mr_to = mr_sp[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_sp = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_sp)
    return hyper_list_sp

In [ ]:
#Step 50: Implement the stopwords, bigrams, and lemma functions Spanish
def build_lda_sp(df_sp, final_stop_words_sp, hyper_list_sp):
    #Remove stops words
    data_words_nostops = stopwords_sp(df_sp['text'], final_stop_words_sp)
    #Create the bigram from the non stop words
    data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma = data_lemmatization_sp(data_words_bigram, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word = corpora.Dictionary(data_lemma)
    #Corpus
    texts = data_lemma
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_sp = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_sp[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_sp[1],
                                              eta = hyper_list_sp[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_sp[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_sp
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_sp.print_topics()
    lenpt2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenpt2):
        pt_list = printtopics2[i][1].split('*')
        pt_list_words = []
        lenptl = len(pt_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = pt_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            pt_list_words.append(t_3)
        topic_label_list.append(pt_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "spanish", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_sp = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_sp

In [ ]:
#Step 51: Visualization of Topics over Time Spanish
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_sp(df, hyper_list_sp):
    
    #Split Data into individual topics
    topic_dfs_sp = {}
    topic_label_list_sp = []
    for i in range(0, hyper_list_sp[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list_sp.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs_sp[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors_sp = hyper_list_sp[0]
    
    color_sp = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors_sp)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs_sp.keys():
        plt.plot(topic_dfs_sp[i], color = color_sp[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in Spanish Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Day Topic Weight")
    plt.legend((topic_label_list_sp))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_SP_Day_")
    plt.close()

In [ ]:
#Step 52: LDA Hyperparameter Finding function for French
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_fr(df_fr, final_stop_words_fr):
    #Remove stops words
    data_words_nostops_hf = stopwords_fr(df_fr['text'], final_stop_words_fr)
    #Create the bigram from the non stop words
    data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma_hf = data_lemmatization_fr(data_words_bigram_hf, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_lemma_hf)
    #Corpus
    texts_hf = data_lemma_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_lemma_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_fr = pd.DataFrame(model_results)
    
    return mr_fr

In [ ]:
#Step 53: Hyper Parameter Defining for French
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_fr(mr_fr):
    #Find the right number of topics
    mr2 = mr_fr.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_fr['Topics'] == top_opt
    mr_to = mr_fr[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_fr = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_fr)
    return hyper_list_fr

In [ ]:
#Step 54: Implement the stopwords, bigrams, and lemma functions Spanish
def build_lda_fr(df_fr, final_stop_words_fr, hyper_list_fr):
    #Remove stops words
    data_words_nostops = stopwords_fr(df_fr['text'], final_stop_words_fr)
    #Create the bigram from the non stop words
    data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma = data_lemmatization_fr(data_words_bigram, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word = corpora.Dictionary(data_lemma)
    #Corpus
    texts = data_lemma
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_fr = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_fr[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_fr[1],
                                              eta = hyper_list_fr[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_fr[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_fr
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_fr.print_topics()
    lenpt2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenpt2):
        pt_list = printtopics2[i][1].split('*')
        pt_list_words = []
        lenptl = len(pt_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = pt_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            pt_list_words.append(t_3)
        topic_label_list.append(pt_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "french", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_fr = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_fr

In [ ]:
#Step 55: Visualization of Topics over Time French
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_fr(df, hyper_list_fr):
    
    #Split Data into individual topics
    topic_dfs_fr = {}
    topic_label_list_fr = []
    for i in range(0, hyper_list_fr[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list_fr.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs_fr[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors_fr = hyper_list_fr[0]
    
    color_fr = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors_fr)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs_fr.keys():
        plt.plot(topic_dfs_fr[i], color = color_fr[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in French Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Hour Topic Weight")
    plt.legend((topic_label_list_fr))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_FR_Day_")
    plt.close()

In [ ]:
#Step 56: LDA Hyperparameter Finding function for Portuguese
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_pt(df_pt, final_stop_words_pt):
    #Remove stops words
    data_words_nostops_hf = stopwords_pt(df_pt['text'], final_stop_words_pt)
    #Create the bigram from the non stop words
    data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma_hf = data_lemmatization_pt(data_words_bigram_hf, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_lemma_hf)
    #Corpus
    texts_hf = data_lemma_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_lemma_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_pt = pd.DataFrame(model_results)
    
    return mr_pt

In [ ]:
#Step 57: Hyper Parameter Defining for Portuguese
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_pt(mr_pt):
    #Find the right number of topics
    mr2 = mr_pt.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_pt['Topics'] == top_opt
    mr_to = mr_pt[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_pt = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_pt)
    return hyper_list_pt

In [ ]:
#Step 58: Implement the stopwords, bigrams, and lemma functions Portuguese
def build_lda_pt(df_pt, final_stop_words_pt, hyper_list_pt):
    #Remove stops words
    data_words_nostops = stopwords_pt(df_pt['text'], final_stop_words_pt)
    #Create the bigram from the non stop words
    data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma = data_lemmatization_pt(data_words_bigram, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word = corpora.Dictionary(data_lemma)
    #Corpus
    texts = data_lemma
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_pt = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_pt[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_pt[1],
                                              eta = hyper_list_pt[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_pt[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_pt
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_pt.print_topics()
    lenpt2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenpt2):
        pt_list = printtopics2[i][1].split('*')
        pt_list_words = []
        lenptl = len(pt_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = pt_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            pt_list_words.append(t_3)
        topic_label_list.append(pt_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "portuguese", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_pt = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_pt

In [ ]:
#Step 59: Visualization of Topics over Time Portuguese
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_pt(df, hyper_list_pt):
    
    #Split Data into individual topics
    topic_dfs = {}
    topic_label_list = []
    for i in range(0, hyper_list_pt[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors = hyper_list_pt[0]
    
    color = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs.keys():
        plt.plot(topic_dfs[i], color = color[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in Portuguese Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Hour Topic Weight")
    plt.legend((topic_label_list))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_PT_Day_")
    plt.close()

In [ ]:
#Step 60: LDA Hyperparameter Finding function for Arabic
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
#https://stackoverflow.com/questions/33229360/gensim-typeerror-doc2bow-expects-an-array-of-unicode-tokens-on-input-not-a-si
def lda_hyperparameter_generating_ar(df_ar, final_stop_words_ar):
    #Remove stops words
    data_words_nostops_hf = stopwords_ar(df_ar['text'], final_stop_words_ar)
    #Create the bigram from the non stop words
    #data_words_bigram_hf = str(bigrams(data_words_nostops_hf))
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    #data_lemma_hf = data_tokenization_ar(data_words_bigram_hf)
    #data_lemma_hf = data_tokenization_ar(data_words_nostops_hf)
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    #id2word_hf = corpora.Dictionary([a.split(' ') for a in data_lemma_hf])
    #id2word_hf = corpora.Dictionary([str(data_lemma_hf).split(' ')])
    #id2word_hf = corpora.Dictionary([str(data_words_bigram_hf).split()])
    id2word_hf = corpora.Dictionary(data_words_nostops_hf)
    #Corpus
    #texts_hf = [str(data_lemma_hf).split(' ')]
    #texts_hf = [str(data_words_bigram_hf).split()]
    texts_hf = data_words_nostops_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_words_nostops_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_ar = pd.DataFrame(model_results)
    
    return mr_ar
    #print(mr_ar)

In [ ]:
#Step 61: Hyper Parameter Defining for Arabic
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_ar(mr_ar):
    #Find the right number of topics
    mr2 = mr_ar.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_ar['Topics'] == top_opt
    mr_to = mr_ar[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_ar = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_ar)
    return hyper_list_ar

In [ ]:
#Step 62: Implement the stopwords, bigrams, and lemma functions Arabic
def build_lda_ar(df_ar, final_stop_words_ar, hyper_list_ar):
    #Remove stops words
    data_words_nostops = stopwords_pt(df_ar['text'], final_stop_words_ar)
    #Create the bigram from the non stop words
    #data_words_bigram = str(bigrams(data_words_nostops))
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    #data_lemma = data_tokenization_ar(data_words_bigram)
    #data_lemma = data_tokenization_ar(data_words_nostops)
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    #id2word = corpora.Dictionary([a.split(' ') for a in data_lemma])
    id2word = corpora.Dictionary(data_words_nostops)
    #Corpus
    texts = data_words_nostops
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_ar = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_ar[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_ar[1],
                                              eta = hyper_list_ar[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_ar[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_ar
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_ar.print_topics()
    lenar2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenar2):
        ar_list = printtopics2[i][1].split('*')
        ar_list_words = []
        lenarl = len(ar_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = ar_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            ar_list_words.append(t_3)
        topic_label_list.append(ar_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "arabic", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_ar = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_ar

In [ ]:
#Step 63: Visualization of Topics over Time Arabic
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_ar(df, hyper_list_ar):
    
    #Split Data into individual topics
    topic_dfs = {}
    topic_label_list = []
    for i in range(0, hyper_list_ar[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors = hyper_list_ar[0]
    
    color = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs.keys():
        plt.plot(topic_dfs[i], color = color[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in Arabic Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Hour Topic Weight")
    plt.legend((topic_label_list))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_AR_Day_")
    plt.close()

In [ ]:
#Step 64: LDA Hyperparameter Finding function for Japanese
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_ja(df_ja, final_stop_words_ja):
    #Remove stops words
    data_words_nostops_hf = stopwords_ja(df_ja['text'], final_stop_words_ja)
    #Create the bigram from the non stop words
    data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma_hf = data_lemmatization_ja(data_words_bigram_hf, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_lemma_hf)
    #Corpus
    texts_hf = data_lemma_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_lemma_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_ja = pd.DataFrame(model_results)
    
    return mr_ja

In [ ]:
#Step 65: Hyper Parameter Defining for Japanese
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_ja(mr_ja):
    #Find the right number of topics
    mr2 = mr_ja.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    #print(mr3)
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_ja['Topics'] == top_opt
    mr_to = mr_ja[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_ja = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_ja)
    return hyper_list_ja

In [ ]:
#Step 66: Implement the stopwords, bigrams, and lemma functions Japanese
def build_lda_ja(df_ja, final_stop_words_ja, hyper_list_ja):
    #Remove stops words
    data_words_nostops = stopwords_ja(df_ja['text'], final_stop_words_ja)
    #Create the bigram from the non stop words
    data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    data_lemma = data_lemmatization_ja(data_words_bigram, allowed_postags = ["NOUN", "ADJ", "VERB", "ADV"])
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word = corpora.Dictionary(data_lemma)
    #Corpus
    texts = data_lemma
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_ja = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_ja[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_ja[1],
                                              eta = hyper_list_ja[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_ja[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_ja
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_ja.print_topics()
    lenja2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenja2):
        ja_list = printtopics2[i][1].split('*')
        ja_list_words = []
        lenjal = len(ja_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = ja_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            ja_list_words.append(t_3)
        topic_label_list.append(ja_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "japanese", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_ja = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_ja

In [ ]:
#Step 67: Visualization of Topics over Time Japanese
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_ja(df, hyper_list_ja):
    
    #Split Data into individual topics
    topic_dfs = {}
    topic_label_list = []
    for i in range(0, hyper_list_ja[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors = hyper_list_ja[0]
    
    color = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs.keys():
        plt.plot(topic_dfs[i], color = color[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in Japanese Topics")
    plt.xlabel("Day") 
    plt.ylabel("Average Hour Topic Weight")
    plt.legend((topic_label_list))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_JA_Day_")
    plt.close()

In [ ]:
#Step 64: LDA Hyperparameter Finding function for Korean
#https://stackoverflow.com/questions/60087463/valueerror-stop-argument-for-islice-must-be-none-or-an-integer-0-x-sys
def lda_hyperparameter_generating_ko(df_ko, final_stop_words_ko):
    #Remove stops words
    data_words_nostops_hf = stopwords_ko(df_ko['text'], final_stop_words_ko)
    #Create the bigram from the non stop words
    #data_words_bigram_hf = bigrams(data_words_nostops_hf)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    #data_lemma_hf = data_lemmatization_ko(data_words_bigram_hf)
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    id2word_hf = corpora.Dictionary(data_words_nostops_hf)
    #id2word_hf = corpora.Dictionary([str(data_lemma_hf).split(' ')])
    #Corpus
    #texts_hf = [str(data_lemma_hf).split(' ')]
    texts_hf = data_words_nostops_hf
    #Term Document Matrix
    corpus_hf = [id2word_hf.doc2bow(text) for text in texts_hf]
    
    #Lets iterate over the function to find the optimal number for each of the hyper parameters
    grid_hf = {}
    grid_hf['Validation_Set'] = {}
    
    #Topic Range
    min_topics = 9
    max_topics = 10
    step_size = 1
    topic_range = range(min_topics, max_topics, step_size)
    
    #Alpha Parameter
    alpha = list(np.arange(0.01, 1, 0.3))
    alpha.append('symmetric')
    alpha.append('asymmetric')
    
    #Beta Parameter
    beta = list(np.arange(0.01, 1, 0.3))
    beta.append('symmetric')
    
    #Validation sets
    num_of_docs = len(corpus_hf)
    corpus_sets = [corpus_hf]
    corpus_title = ['100% Corpus']
    model_results = {'Validation_Set': [],
                     'Topics': [],
                     'Alpha': [],
                     'Beta': [],
                     'Coherence': []
                    }
    
    #iterate through validation corpora:
    for i in range(len(corpus_sets)):
        #iterate through number of topics:
        for k in topic_range:
            #iterate through alpha values:
            for a in alpha:
                #iterate through beta values:
                for b in beta:
                    #Get the coherence scores for the given hyperparameters
                    cv = compute_coherence_values(corpus = corpus_sets[i], texts = data_words_nostops_hf,
                                                  dictionary = id2word_hf, k = k, 
                                                  a = a, b = b)
                    #Save the Model Results 
                    model_results['Validation_Set'].append(corpus_title[i])
                    model_results['Topics'].append(k)
                    model_results['Alpha'].append(a)
                    model_results['Beta'].append(b)
                    model_results['Coherence'].append(cv)
    #Look at model results
    mr_ko = pd.DataFrame(model_results)
    
    return mr_ko

In [ ]:
#Step 65: Hyper Parameter Defining for Japanese
#https://stackoverflow.com/questions/20067636/pandas-dataframe-get-first-row-of-each-group
#https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
#https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
#https://stackoverflow.com/questions/43193880/how-to-get-row-number-in-dataframe-in-pandas

def lda_hyper_define_ko(mr_ko):
    #Find the right number of topics
    mr2 = mr_ko.groupby("Topics").max().reset_index()
    #Find the number of topics with the highest coherence
    max_coherence = mr2['Coherence'].max()
    mr3_5 = mr2.loc[mr2['Coherence'] == max_coherence]
    mr3 = mr3_5.reset_index(drop = True)
    #Get the Number of Topics for the highest coherence
    top_opt = mr3["Topics"][0]
    #Get the full data set of only the optimal number of topics
    mr_top_opt = mr_ko['Topics'] == top_opt
    mr_to = mr_ko[mr_top_opt]
    mr_to_2 = mr_to.reset_index(drop = True)
    #Get the hyperparameters for alpha and eta from mr_to_2 based on max coherence
    max_co_2 = mr_to_2['Coherence'].max()
    mr_to_3_5 = mr_to_2.loc[mr_to_2['Coherence'] == max_co_2]
    mr_to_3 = mr_to_3_5.reset_index(drop = True)
    #Convert mr_to_3, the optimal hyperparameters to a list 
    hyper_list_ko = [mr_to_3["Topics"][0], mr_to_3["Alpha"][0], mr_to_3["Beta"][0]]
    print(hyper_list_ko)
    return hyper_list_ko

In [ ]:
#Step 66: Implement the stopwords, bigrams, and lemma functions Japanese
def build_lda_ko(df_ko, final_stop_words_ko, hyper_list_ko):
    #Remove stops words
    data_words_nostops = stopwords_ko(df_ko['text'], final_stop_words_ko)
    #Create the bigram from the non stop words
    #data_words_bigram = bigrams(data_words_nostops)
    #Do lemmatization keeping only noun, adj, vb, adv, the lemmatization cuts off the ends of words so they can be
    #grouped an analyze better
    #data_lemma = data_lemmatization_ko(data_words_bigram)
    #Create the dictionary, corpus, and term document matrix
    #Dictionary
    #id2word = corpora.Dictionary([str(data_lemma).split(' ')])
    id2word = corpora.Dictionary(data_words_nostops)
    #Corpus
    texts = data_words_nostops
    #Term Document Matrix
    corpus = [id2word.doc2bow(text) for text in texts]
    #Train the actual LDA model
    #Watch out for too many topics
    lda_model_ko = gensim.models.LdaMulticore(corpus = corpus,
                                              id2word = id2word,
                                              num_topics = hyper_list_ko[0],
                                              random_state = 105,
                                              chunksize = 100,
                                              passes = 10,
                                              alpha = hyper_list_ko[1],
                                              eta = hyper_list_ko[2],
                                              per_word_topics = True,
                                              minimum_probability = 0)
    
    #Create the weights dataframe
    #Extract individual document topic proportions as determined by the LDA model. Our Gensim LDA model can classify 
    #the specific relative proportions for all ten topics within each document as long as you set the minimum_probability
    #argument to 0. If you did not do this, then some topics may be dropped from the final weighting if they did not 
    #meet the probability threshold set by default.
    weights_output = pd.DataFrame(columns = ['topic', 'prob_weight', 'doc_id'])
    
    #Extraction Loop: This loop extracts the topic proportions for all five topics for every individual document and
    #places them into a dataframe with a document-id key for merging topic proportion information with other datasets
    #about our corpus
    for i in range(0, len(corpus)):
        doc_weights = lda_model_ko[corpus[i]][0]
        weights_df = pd.DataFrame(list(doc_weights), columns = ['topic', 'prob_weight'])
        weights_df['doc_id'] = i
        weights_output = weights_output.append(weights_df)
    
    #Create the daily (or hourly) weights data
    df2 = df_ko
    df = weights_output
    
    #Create new dataset from the speechs with doc_id
    df3 = df2.reset_index()
    df3['doc_id'] = df3.index
    
    #Merge the Two Dataframe Together
    df4 = pd.merge(df, df3[['doc_id', 'Date', 'Year', 'Month', 'Day', 'text']], on = 'doc_id', how = 'left')
    
    #Get the count of the total documents by Minute
    # This should be changed to Hour if I decide to do a full day of tweets instead
    total_docs = df4.groupby('Day')['doc_id'].apply(lambda x: len(x.unique())).reset_index()
    
    #Label total_docs columns
    total_docs.columns = ['Day', 'total_docs']
    
    #Get the Probability weight per Month and Topic 
    df_avg = df4.groupby(['Day', 'topic']).agg({'prob_weight': 'sum'}).reset_index()
    
    #Combine the prob_weight and the total_docs data frames
    df_avg2 = df_avg.merge(total_docs, on = 'Day', how = 'left')
    
    #Create the Average Weight of each Day and Topic
    df_avg2['average_weight'] = df_avg2['prob_weight'] / df_avg2['total_docs']
    
    #Get the Keywords from each Topics from the LDA Topic and Automatically Label them
    printtopics2 = lda_model_ko.print_topics()
    lenko2 = len(printtopics2)
    topic_label_list = []
    #For All the topics in generated by the model
    for i in range(0, lenko2):
        ko_list = printtopics2[i][1].split('*')
        ko_list_words = []
        lenkol = len(ko_list)
        #Split the string list in the loop to get the first 3 topic words
        for j in range(1, 4):
            t_1 = ko_list[j]
            t_2 = t_1.split('+')
            t_3 = t_2[0]
            ko_list_words.append(t_3)
        topic_label_list.append(ko_list_words)
        
    #Set the Topic Labels to topic_label_list
    topic_labels = topic_label_list
    
    #Translate the Topic Label 
    tll_translate = []
    lentll = len(topic_label_list)
    for i in range(0, lentll):
        tll_topic_line = []
        lent_t_l = len(topic_label_list[i])
        for j in range(0, lent_t_l):
            text = topic_label_list[i][j]
            translated = GoogleTranslator(source = "korean", to_lang = "english").translate(text=text)
            tll_topic_line.append(translated)
        tll_translate.append(tll_topic_line)
        
    #Topic Label Translated 
    topic_labels_translate = tll_translate
    
    #Create topic_id numbers based on the createList function
    lenpt3 = len(printtopics2)
    topic_id = createList(lenpt3)
    
    #Combine the topic_id and topic_label
    data_tuple = list(zip(topic_id, topic_labels_translate))
    
    #Convert into a dataframe
    df_labels = pd.DataFrame(data_tuple, columns = ['topic', 'topic_label'])
    
    #Merge labels into year weights data
    df_avg3 = df_avg2.merge(df_labels, on = 'topic')
    
    #Create the final per-document dataframe for broader analysis
    #Make sure to change on = ["Minute"] if want to use a different time scale
    df11_ko = pd.merge(df4, df_avg3[['Day', 'topic', 'average_weight', 'total_docs', 'topic_label']], 
                    on = ['Day', 'topic'], how = 'left')
    
    return df11_ko

In [ ]:
#Step 67: Visualization of Topics over Time Japanese
#https://stackoverflow.com/questions/9622163/save-plot-to-image-file-instead-of-displaying-it-using-matplotlib
#https://stackoverflow.com/questions/12560600/creating-a-new-file-filename-contains-loop-variable-python
#https://stackoverflow.com/questions/33907776/how-to-create-an-array-of-dataframes-in-python
def viz_topic_time_ko(df, hyper_list_ko):
    
    #Split Data into individual topics
    topic_dfs = {}
    topic_label_list = []
    for i in range(0, hyper_list_ko[0]):
        df_1_5 = df[df["topic"] == i]
        df_1 = df_1_5.reset_index(drop = True)
        topic_label_list.append(df_1["topic_label"][0])
        topic_plots = df_1.groupby("Day")["average_weight"].mean()
        topic_dfs[i] = topic_plots
  
    #Change the size of the Plot
    plt.rcParams['figure.figsize'] = [20, 14]
    
    #Get the colors for the lines
    num_colors = hyper_list_ko[0]
    
    color = ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])
                for i in range(0, num_colors)]
    
    #Create the plot
    #Change Legends based on Topic Labels, Plot the topic changes over time and colors
    for i in topic_dfs.keys():
        plt.plot(topic_dfs[i], color = color[i])
    plt.xlim(14, 21)
    plt.ylim(0, 1)
    plt.axhline(df['average_weight'].median(), color = "black")
    plt.title("Change in Korean Topics")
    plt.xlabel("Day")
    plt.ylabel("Average Hour Topic Weight")
    plt.legend((topic_label_list))
    plt.grid()
    plt.savefig("/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Test_Output/Test_Output_KO_Day_")
    plt.close()

In [ ]:
#Part 54: The Main Function
def main_tm(full_json_file):
    tmfull = full_json_file
    tmfull3 = date_func(tmfull)
    tmfull4 = year_func(tmfull3)
    tmfull5 = month_func(tmfull4)
    tmfull6 = day_func(tmfull5)
    tmfull10 = date_combos(tmfull6)
    eng_tweet = English_Tweets_Func(tmfull10)
    esp_tweet = Spanish_Tweets_Func(tmfull10)
    frn_tweet = French_Tweets_Func(tmfull10)
    prt_tweet = Portuguese_Tweets_Func(tmfull10)
    arb_tweet = Arabic_Tweets_Func(tmfull10)
    jpn_tweet = Japanese_Tweets_Func(tmfull10)
    kor_tweet = Korean_Tweets_Func(tmfull10)
    eng_t2 = sort_chrono(eng_tweet)
    esp_t2 = sort_chrono(esp_tweet)
    frn_t2 = sort_chrono(frn_tweet)
    prt_t2 = sort_chrono(prt_tweet)
    arb_t2 = sort_chrono(arb_tweet)
    jpn_t2 = sort_chrono(jpn_tweet)
    kor_t2 = sort_chrono(kor_tweet)
    final_stop_words_en = stopwords_en_func()
    final_stop_words_sp = stopwords_sp_func()
    final_stop_words_fr = stopwords_fr_func()
    final_stop_words_pt = stopwords_pt_func()
    final_stop_words_ar = stopwords_ar_func()
    final_stop_words_ja = stopwords_ja_func()
    final_stop_words_ko = stopwords_ko_func()
    mr_en = lda_hyperparameter_generating_en(eng_t2, final_stop_words_en)
    mr_sp = lda_hyperparameter_generating_sp(esp_t2, final_stop_words_sp)
    mr_fr = lda_hyperparameter_generating_fr(frn_t2, final_stop_words_fr)
    mr_pt = lda_hyperparameter_generating_pt(prt_t2, final_stop_words_pt)
    mr_ar = lda_hyperparameter_generating_ar(arb_t2, final_stop_words_ar)
    mr_ja = lda_hyperparameter_generating_ja(jpn_t2, final_stop_words_ja)
    mr_ko = lda_hyperparameter_generating_ko(kor_t2, final_stop_words_ko)
    hyper_list_en = lda_hyper_define_en(mr_en)
    hyper_list_sp = lda_hyper_define_sp(mr_sp)
    hyper_list_fr = lda_hyper_define_fr(mr_fr)
    hyper_list_pt = lda_hyper_define_pt(mr_pt)
    hyper_list_ar = lda_hyper_define_ar(mr_ar)
    hyper_list_ja = lda_hyper_define_ja(mr_ja)
    hyper_list_ko = lda_hyper_define_ko(mr_ko)
    en_tm_final = build_lda_en(eng_t2, final_stop_words_en, hyper_list_en)
    sp_tm_final = build_lda_sp(esp_t2, final_stop_words_sp, hyper_list_sp)
    fr_tm_final = build_lda_fr(frn_t2, final_stop_words_fr, hyper_list_fr)
    pt_tm_final = build_lda_pt(prt_t2, final_stop_words_pt, hyper_list_pt)
    ar_tm_final = build_lda_ar(arb_t2, final_stop_words_ar, hyper_list_ar)
    ja_tm_final = build_lda_ja(jpn_t2, final_stop_words_ja, hyper_list_ja)
    ko_tm_final = build_lda_ko(kor_t2, final_stop_words_ko, hyper_list_ko)
    viz_topic_time_en(en_tm_final, hyper_list_en)
    viz_topic_time_sp(sp_tm_final, hyper_list_sp)
    viz_topic_time_fr(fr_tm_final, hyper_list_fr)
    viz_topic_time_pt(pt_tm_final, hyper_list_pt)
    viz_topic_time_ar(ar_tm_final, hyper_list_ar)
    viz_topic_time_ja(ja_tm_final, hyper_list_ja)
    viz_topic_time_ko(ko_tm_final, hyper_list_ko)

In [ ]:
#Call the Main_tm function
main_tm()

In [ ]:
#####################################################################################################################

In [ ]:
#####################################################################################################################

In [ ]:
#####################################################################################################################

In [68]:
#Day 1: Test Data
#full_5.tail()
#REPLACE CODE EACH TIME WITH DIFFERENT INDEX VALUES, IT TAKES ROUGHLY 15 MINUTES TO GO THROUGH AND PROCESS
#10,000 FILES, SO IF I AM WORKING TOMORROW THEN 15,000*4*6 = 360,000, SO SET 10000:369,999
#NOTE: FINAL INDEX IS 3634952
#NOTE: SINCE THIS HISTORICAL STUDY INFORMS THE REAL TIME STUDY THIS ONE NEEDS TO BE COMPLETED FIRST, HOWEVER, 
#I CAN WRITE UP THE ANALYSIS OF THE HISTORICAL STUDY WHILE GATHERING THE REAL TIME DATA, WHICH SHOULD TAKE ROUGHLY,
#THE SAME AMOUNT OF TIME, SO I AM LOOKING AT MARCH FOR COMPLETION OF GATHERING THE REAL TIME DATA, AND APRIL BY HAVING
#DRAFTS COMPLETED OF ALL MY PAPERS. 
#NOTE: NEED TO FIGURE OUT IF I WILL DO TOPIC MODELLING FOR THE HISTORICAL MODELS, SEE HOW LONG A WEEK OF DATA TAKES
#TO ANALYZE THROUGH TOPIC MODELLING, WE KNOW THAT ROUGHLY 10,000 TWEETS TAKES 30 MINUTES, IF POSSIBLE I WILL GATHER
#THE DATA FROM THAT, IT COULD BE USEFUL, ALTERNATIVELY,IF IT TAKES TOO LONG, I CAN DO IT FOR THE WEEKS SURROUNDING
#THE KEY DATES OF THE URKAINE INVASION, WOULD CUT DOWN ON TIME THAT WAY. ONE WEEK PER MONTH FOR EXAMPLE WOULD ONLY BE 
#5 SESSIONS

In [69]:
#full_5.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Tweets_Full/Full_File/Full_Five.json")

In [104]:
full_5 = pd.read_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Tweets_Full/Full_File/Full_Five.json")
full_5.tail()

,text,lang,created_at,tag,cat,scale,Date
3634948,RT @RoyalAirForce: The Swiss Air Force has arr...,en,2021-12-01 00:43:26,GN,force exercise,-7.6,NaT
3634949,@Louis_0004 @ADH423 @gladrew7 @DefiantLs I’m s...,en,2021-12-01 00:42:54,GN,force exercise,-7.6,NaT
3634950,There was so much hostility between the sexes ...,en,2021-12-01 00:38:17,GN,force exercise,-7.6,NaT
3634951,RT @Daily_MSFight: Celestial being's Gundams a...,en,2021-12-01 00:30:28,GN,force exercise,-7.6,NaT
3634952,RT @Daily_MSFight: Celestial being's Gundams a...,en,2021-12-01 00:21:18,GN,force exercise,-7.6,NaT

In [154]:
#3510,000 - 3610,000
full_3510_3610 = full_5.loc[3510000:3609999]
full_3510_3610_two = full_3510_3610.reset_index(drop = True)
full_3510_3610_two.tail()

,text,lang,created_at,tag,cat,scale,Date
99995,RT @PacificMarines: Birds of a Feather…\n \n@u...,en,2022-02-15 23:53:25,GN,force exercise,-7.6,NaT
99996,Two US Air Force F-16 assigned to 18th Aggress...,en,2022-02-15 23:51:01,GN,force exercise,-7.6,NaT
99997,RT @PacificMarines: Birds of a Feather…\n \n@u...,en,2022-02-15 23:42:38,GN,force exercise,-7.6,NaT
99998,RT @CISTpRecruiting: If it’s not raining it’s ...,en,2022-02-15 23:31:05,GN,force exercise,-7.6,NaT
99999,RT @UKMCCMiddleEast: We're working alongside 6...,en,2022-02-15 23:30:56,GN,force exercise,-7.6,NaT

In [155]:
start = datetime.now()
print(start)
hist_3510_3610 = main_full(full_3510_3610_two)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 14:32:34.122121

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

23/23 [==============================] - 0s 17ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1/1 [==============================] - 1s 663ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1/1 [==============================] - 0s 43ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

11/11 [==============================] - 4s 337ms/step
1/1 [==============================] - 0s 48ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2023-02-02 15:29:16.883084
0:56:42.760963

In [156]:
#So full data can give us the count of text locations over time 
hist_3510_3610.tail()

,text,lang,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label
123222,RT @sakimori8821: 昔見た時は何かと思ったけど、単純にリグを前後逆につけてる...,ja,2022-02-22 01:46:11,GN,force exercise,-7.6,2022-02-22 01:46:11,2022,2,22,82,330,NaN,1,NaN,NaN
123223,RT @sakimori8821: 昔見た時は何かと思ったけど、単純にリグを前後逆につけてる...,ja,2022-02-21 14:53:19,GN,force exercise,-7.6,2022-02-21 14:53:19,2022,2,21,81,331,NaN,1,NaN,NaN
123224,昔見た時は何かと思ったけど、単純にリグを前後逆につけてるだけだった\n\nhttps://t...,ja,2022-02-21 13:24:29,GN,force exercise,-7.6,2022-02-21 13:24:29,2022,2,21,81,332,NaN,1,NaN,NaN
123225,実力者っは誤訳。\n\nstrongman/ˈstrɒŋman/noun:\n1. a ma...,ja,2022-02-21 05:28:05,GN,force exercise,-7.6,2022-02-21 05:28:05,2022,2,21,81,333,NaN,-1,NaN,NaN
123226,"미국 사시는 분들 참조:\nCoronavirus Aid, Relief and Eco...",ko,2022-01-12 00:13:59,GP,economic aid,7.4,2022-01-12 00:13:59,2022,1,12,42,0,NaN,1,미국,NaN

In [157]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#hist_grouped = hist_0_10000.groupby(["lang", "Sentiment"]).size()
#hist_grouped

In [158]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
pd.set_option('display.max_rows', 500)
hist_grouped_2 = hist_3510_3610.groupby(["lang", "textloc"]).size()
#hist_grouped_2

In [159]:
s = pd.Series(hist_grouped_2, name = "count_ner")
hgdf = s.to_frame()
hgdf.tail()

                    count_ner
lang textloc
ko   미국                     1
pt   JURO                   1
     RT World News          1
     Taiwan                 1
     US                     1

In [160]:
hgdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1646 entries, ('ar', '-') to ('pt', 'US')
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   count_ner  1646 non-null   int64
dtypes: int64(1)
memory usage: 30.6+ KB

In [161]:
hgdf2 = hgdf.sort_values('count_ner', ascending = False)
hgdf3 = hgdf2.reset_index()
hgdf3.tail()

     lang         textloc  count_ner
1641   en           Mercy          1
1642   en      Metel-2022          1
1643   en      Micronesia          1
1644   en  Midwest States          1
1645   pt              US          1

In [162]:
start = datetime.now()
print(start)
hgdf4 = translate_to_english(hgdf3)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 15:29:17.046314

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2023-02-02 15:36:35.189688
0:07:18.143374

In [163]:
hgdf4.head(10)

  lang      textloc  count_ner   textloc_en
0   en      Ukraine      14405      Ukraine
1   en         U.S.       6741         U.S.
2   en       Russia       6464       Russia
3   en        China       4765        China
4   en           US       4359           US
5   en  Afghanistan       3201  Afghanistan
6   en       Canada       3091       Canada
7   en     Ethiopia       2465     Ethiopia
8   en           UK       2202           UK
9   en       Taiwan       2185       Taiwan

In [164]:
hgdf5 = pd.merge(hist_3510_3610, hgdf4, on = "textloc", how = "left")
hgdf5.tail()

,text,lang_x,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label,lang_y,count_ner,textloc_en
132370,RT @sakimori8821: 昔見た時は何かと思ったけど、単純にリグを前後逆につけてる...,ja,2022-02-22 01:46:11,GN,force exercise,-7.6,2022-02-22 01:46:11,2022,2,22,82,330,NaN,1,NaN,NaN,NaN,NaN,NaN
132371,RT @sakimori8821: 昔見た時は何かと思ったけど、単純にリグを前後逆につけてる...,ja,2022-02-21 14:53:19,GN,force exercise,-7.6,2022-02-21 14:53:19,2022,2,21,81,331,NaN,1,NaN,NaN,NaN,NaN,NaN
132372,昔見た時は何かと思ったけど、単純にリグを前後逆につけてるだけだった\n\nhttps://t...,ja,2022-02-21 13:24:29,GN,force exercise,-7.6,2022-02-21 13:24:29,2022,2,21,81,332,NaN,1,NaN,NaN,NaN,NaN,NaN
132373,実力者っは誤訳。\n\nstrongman/ˈstrɒŋman/noun:\n1. a ma...,ja,2022-02-21 05:28:05,GN,force exercise,-7.6,2022-02-21 05:28:05,2022,2,21,81,333,NaN,-1,NaN,NaN,NaN,NaN,NaN
132374,"미국 사시는 분들 참조:\nCoronavirus Aid, Relief and Eco...",ko,2022-01-12 00:13:59,GP,economic aid,7.4,2022-01-12 00:13:59,2022,1,12,42,0,NaN,1,미국,NaN,ko,1.0,USA

In [165]:
hgdf5.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Data/hgdf3510_3610.json")

In [166]:
###################################################################################################################

In [167]:
#Remove the data from memory
del hgdf5, hist_3510_3610

In [168]:
import time
time.sleep(1800)

In [169]:
#This can give us the sentiment over time#
#hist_0_10000_nodups = full_df_no_dups(hgdf5)
#h0_10 = hist_0_10000_nodups.reset_index(drop = True)
#h0_10.tail()

In [170]:
#h0_10["textloc_en"].value_counts()

In [171]:
#h0_10.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Data/h0_10.json")

In [172]:
#h0_10["tag"].value_counts()

In [173]:
#h0_10["scale"].sum()

In [174]:
#h0_10["Sentiment"].sum()

In [175]:
#Second Batch
#3610,000 - 3109,999
full_3610_end = full_5.loc[3610000:3634953]
full_3610_end_two = full_3610_end.reset_index(drop = True)
full_3610_end_two.tail()

,text,lang,created_at,tag,cat,scale,Date
24948,RT @RoyalAirForce: The Swiss Air Force has arr...,en,2021-12-01 00:43:26,GN,force exercise,-7.6,NaT
24949,@Louis_0004 @ADH423 @gladrew7 @DefiantLs I’m s...,en,2021-12-01 00:42:54,GN,force exercise,-7.6,NaT
24950,There was so much hostility between the sexes ...,en,2021-12-01 00:38:17,GN,force exercise,-7.6,NaT
24951,RT @Daily_MSFight: Celestial being's Gundams a...,en,2021-12-01 00:30:28,GN,force exercise,-7.6,NaT
24952,RT @Daily_MSFight: Celestial being's Gundams a...,en,2021-12-01 00:21:18,GN,force exercise,-7.6,NaT

In [176]:
#Run the second batch
start = datetime.now()
print(start)
hist_3610_end = main_full(full_3610_end_two)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 16:06:36.069728

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

16/16 [==============================] - 0s 17ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1/1 [==============================] - 0s 185ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1/1 [==============================] - 1s 519ms/step
1/1 [==============================] - 0s 42ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2023-02-02 16:15:24.927369
0:08:48.857641

In [177]:
#So full data can give us the count of text locations over time 
hist_3610_end.tail()

,text,lang,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label
27471,RT @Aviation_Assets: アメリカ陸軍第7歩兵師団および陸上自衛隊がワシント...,ja,2021-12-16 16:31:28,GN,force exercise,-7.6,2021-12-16 16:31:28,2021,12,16,376,26,NaN,-1,ワシントン州ヤキマ・トレーニング・センター,GPE
27472,アメリカ陸軍第7歩兵師団および陸上自衛隊がワシントン州ヤキマ・トレーニング・センターで実施し...,ja,2021-12-16 14:58:58,GN,force exercise,-7.6,2021-12-16 14:58:58,2021,12,16,376,27,NaN,-1,ワシントン州ヤキマ・トレーニング・センター,GPE
27473,こっちの方が注目されてるじゃないか。 https://t.co/kRRtL0INrR,ja,2021-12-11 12:29:00,GN,force exercise,-7.6,2021-12-11 12:29:00,2021,12,11,371,28,NaN,-1,NaN,NaN
27474,"#TOEIC 頻フレ247\n104. us- cau-\n注意する, 用心する\n\n解\...",ja,2021-12-04 03:06:00,GN,force exercise,-7.6,2021-12-04 03:06:00,2021,12,4,364,29,NaN,-1,NaN,NaN
27475,Dior force jisoo to exercise😆 \n\n블랙핑크 지수 #KIM...,ko,2022-01-17 08:27:49,GN,force exercise,-7.6,2022-01-17 08:27:49,2022,1,17,47,0,NaN,1,,NaN

In [178]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#pd.set_option('display.max_rows', 500)
hist_grouped_2 = hist_3610_end.groupby(["lang", "textloc"]).size()

In [179]:
s = pd.Series(hist_grouped_2, name = "count_ner")
hgdf = s.to_frame()
hgdf.tail()

                            count_ner
lang textloc
ja   アメリカ                          20
     ワシントン州ヤキマ・トレーニング・センター          2
     日本                             1
     陸自                             1
ko                                  1

In [180]:
hgdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 561 entries, ('en', '#Korea') to ('ko', '')
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   count_ner  561 non-null    int64
dtypes: int64(1)
memory usage: 10.5+ KB

In [181]:
hgdf2 = hgdf.sort_values('count_ner', ascending = False)
hgdf3 = hgdf2.reset_index()
hgdf3.tail()

    lang    textloc  count_ner
556   en     Martín          1
557   en  Marseille          1
558   en     Manila          1
559   en     Mamata          1
560   ko                     1

In [182]:
start = datetime.now()
print(start)
hgdf4 = translate_to_english(hgdf3)
hgdf4.head(10)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 16:15:25.044023

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2023-02-02 16:17:48.850046
0:02:23.806023

In [183]:
hgdf5 = pd.merge(hist_3610_end, hgdf4, on = "textloc", how = "left")
hgdf5.tail()

,text,lang_x,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label,lang_y,count_ner,textloc_en
28348,RT @Aviation_Assets: アメリカ陸軍第7歩兵師団および陸上自衛隊がワシント...,ja,2021-12-16 16:31:28,GN,force exercise,-7.6,2021-12-16 16:31:28,2021,12,16,376,26,NaN,-1,ワシントン州ヤキマ・トレーニング・センター,GPE,ja,2.0,"Yakima Training Center, Washington"
28349,アメリカ陸軍第7歩兵師団および陸上自衛隊がワシントン州ヤキマ・トレーニング・センターで実施し...,ja,2021-12-16 14:58:58,GN,force exercise,-7.6,2021-12-16 14:58:58,2021,12,16,376,27,NaN,-1,ワシントン州ヤキマ・トレーニング・センター,GPE,ja,2.0,"Yakima Training Center, Washington"
28350,こっちの方が注目されてるじゃないか。 https://t.co/kRRtL0INrR,ja,2021-12-11 12:29:00,GN,force exercise,-7.6,2021-12-11 12:29:00,2021,12,11,371,28,NaN,-1,NaN,NaN,NaN,NaN,NaN
28351,"#TOEIC 頻フレ247\n104. us- cau-\n注意する, 用心する\n\n解\...",ja,2021-12-04 03:06:00,GN,force exercise,-7.6,2021-12-04 03:06:00,2021,12,4,364,29,NaN,-1,NaN,NaN,NaN,NaN,NaN
28352,Dior force jisoo to exercise😆 \n\n블랙핑크 지수 #KIM...,ko,2022-01-17 08:27:49,GN,force exercise,-7.6,2022-01-17 08:27:49,2022,1,17,47,0,NaN,1,,NaN,ko,1.0,

In [184]:
hgdf5.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Data/hgdf3610_end.json")

In [185]:
#Remove the data from memory
del hgdf5, hist_3610_end

In [137]:
import time
time.sleep(1800)

In [138]:
#####################################################################################################################

In [139]:
#Third Batch

In [140]:
#3410,000 - 3509,999
full_3410_3510 = full_5.loc[3410000:3509999]
full_3410_3510_two = full_3410_3510.reset_index(drop = True)
full_3410_3510_two.tail()

,text,lang,created_at,tag,cat,scale,Date
99995,RT @SandaBlueDeux: Russia asked China for mili...,en,2022-03-14 00:33:41,GP,economic aid,7.4,NaT
99996,RT @lapatina_: Russia allegedly asking China f...,en,2022-03-14 00:33:39,GP,economic aid,7.4,NaT
99997,"Russia asked China for military, economic aid ...",en,2022-03-14 00:33:31,GP,economic aid,7.4,NaT
99998,RT @lapatina_: Russia allegedly asking China f...,en,2022-03-14 00:33:07,GP,economic aid,7.4,NaT
99999,🇺🇸 faced a similar choice in 1917: give econom...,en,2022-03-14 00:33:05,GP,economic aid,7.4,NaT

In [141]:
#Run the third batch
start = datetime.now()
print(start)
hist_3410_3510 = main_full(full_3410_3510_two)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 12:24:59.765548

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

9/9 [==============================] - 0s 23ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1/1 [==============================] - 0s 49ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2/2 [==============================] - 0s 26ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2/2 [==============================] - 1s 130ms/step
5/5 [==============================] - 0s 30ms/step

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2023-02-02 13:22:55.118953
0:57:55.353405

In [142]:
#So full data can give us the count of text locations over time 
hist_3410_3510.tail()

,text,lang,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label
137476,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:52:50,GP,economic aid,7.4,2022-04-16 01:52:50,2022,4,16,136,13,NaN,-1,독일,NaN
137477,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:28:19,GP,economic aid,7.4,2022-04-16 01:28:19,2022,4,16,136,14,NaN,-1,독일,NaN
137478,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:09:56,GP,economic aid,7.4,2022-04-16 01:09:56,2022,4,16,136,15,NaN,-1,독일,NaN
137479,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 00:55:39,GP,economic aid,7.4,2022-04-16 00:55:39,2022,4,16,136,16,NaN,-1,독일,NaN
137480,독일 연방 경제 기후부는 2025년까지 전기차 보조금을 단계적으로 폐지하고 당장 올...,ko,2022-04-16 00:49:03,GP,economic aid,7.4,2022-04-16 00:49:03,2022,4,16,136,17,NaN,-1,독일,NaN

In [143]:
#Need Section to Group by tweets for analysis
#https://stackoverflow.com/questions/17679089/pandas-dataframe-groupby-two-columns-and-get-counts
#pd.set_option('display.max_rows', 500)
hist_grouped_2 = hist_3410_3510.groupby(["lang", "textloc"]).size()

In [144]:
s = pd.Series(hist_grouped_2, name = "count_ner")
hgdf = s.to_frame()
hgdf.tail()

                count_ner
lang textloc
pt   Russia             1
     Russia in          1
     Rússia             2
     US                 1
     Ucrânia            4

In [145]:
hgdf.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 971 entries, ('ar', '-') to ('pt', 'Ucrânia')
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   count_ner  971 non-null    int64
dtypes: int64(1)
memory usage: 18.1+ KB

In [146]:
hgdf2 = hgdf.sort_values('count_ner', ascending = False)
hgdf3 = hgdf2.reset_index()
hgdf3.tail()

    lang        textloc  count_ner
966   en       Pkaistan          1
967   en       Playoffs          1
968   en  Arsenal-Kiev'          1
969   en       Politico          1
970   en         Notary          1

In [147]:
start = datetime.now()
print(start)
hgdf4 = translate_to_english(hgdf3)
end = datetime.now()
print(end)
print(end - start)

2023-02-02 13:22:55.269462

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

2023-02-02 13:27:14.110911
0:04:18.841449

In [148]:
hgdf4.tail()

    lang        textloc  count_ner     textloc_en
966   en       Pkaistan          1    I'm packing
967   en       Playoffs          1       Playoffs
968   en  Arsenal-Kiev'          1  Arsenal-Kiev'
969   en       Politico          1       Politico
970   en         Notary          1         Notary

In [149]:
hgdf4.head(10)

  lang   textloc  count_ner textloc_en
0   en   Ukraine      21176    Ukraine
1   en    Russia      12665     Russia
2   en     China      12125      China
3   en        US       4394         US
4   en        UK       3935         UK
5   en  Ethiopia       3142   Ethiopia
6   en      U.S.       2889       U.S.
7   en     Japan       1241      Japan
8   en         😪       1011       None
9   en     India        866      India

In [150]:
hgdf5 = pd.merge(hist_3410_3510, hgdf4, on = "textloc", how = "left")
hgdf5.tail()

,text,lang_x,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label,lang_y,count_ner,textloc_en
217811,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:52:50,GP,economic aid,7.4,2022-04-16 01:52:50,2022,4,16,136,13,NaN,-1,독일,NaN,ko,9.0,Germany
217812,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:28:19,GP,economic aid,7.4,2022-04-16 01:28:19,2022,4,16,136,14,NaN,-1,독일,NaN,ko,9.0,Germany
217813,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 01:09:56,GP,economic aid,7.4,2022-04-16 01:09:56,2022,4,16,136,15,NaN,-1,독일,NaN,ko,9.0,Germany
217814,RT @ecolibertas: 독일 연방 경제 기후부는 2025년까지 전기차 보조금...,ko,2022-04-16 00:55:39,GP,economic aid,7.4,2022-04-16 00:55:39,2022,4,16,136,16,NaN,-1,독일,NaN,ko,9.0,Germany
217815,독일 연방 경제 기후부는 2025년까지 전기차 보조금을 단계적으로 폐지하고 당장 올...,ko,2022-04-16 00:49:03,GP,economic aid,7.4,2022-04-16 00:49:03,2022,4,16,136,17,NaN,-1,독일,NaN,ko,9.0,Germany

In [151]:
hgdf5.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Data/hgdf3410_3510.json")

In [152]:
#Remove the data from memory
del hgdf5, hist_3410_3510

In [ ]:
###################################################################################################################

In [ ]:
##################################################################################################################

In [ ]:
#COmbine all the files together

In [186]:
#Step 1: Create different pathways
path_to_json_hist = "/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Data"

In [187]:
#Step 2: Get all files from Json_file output
def all_files(path_to_json):
    json_pattern = os.path.join(path_to_json, '*.json')
    file_list = glob.glob(json_pattern)
    #Import the jsons and convert them to pandas dataframes
    dfs = []
    for file in file_list:
        data = pd.read_json(file)
        dfs.append(data)
    #Concat the individual data frames into one dataframe
    full_tm = pd.concat(dfs, ignore_index = True)
    #Reset Index
    ftm2 = full_tm.reset_index(drop = True)
    return ftm2

In [188]:
#Step 3: Combine the files for French Negative
tmfull_hist = all_files(path_to_json_hist)
tmfull_hist.tail()

,text,lang_x,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label,lang_y,count_ner,textloc_en
8173484,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022-03-08 02:22:47,2022,3,8,98,57,NaN,-1,None,None,None,NaN,None
8173485,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022-03-07 21:32:20,2022,3,7,97,58,NaN,-1,None,None,None,NaN,None
8173486,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022-03-07 06:48:17,2022,3,7,97,59,NaN,1,None,None,None,NaN,None
8173487,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022-03-09 04:28:20,2022,3,9,99,0,NaN,-1,,None,ko,2.0,
8173488,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022-03-09 04:20:48,2022,3,9,99,1,NaN,1,,None,ko,2.0,

In [189]:
tmfull_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8173489 entries, 0 to 8173488
Data columns (total 19 columns):
 #   Column       Dtype
---  ------       -----
 0   text         object
 1   lang_x       object
 2   created_at   datetime64[ns]
 3   tag          object
 4   cat          object
 5   scale        float64
 6   Date         datetime64[ns]
 7   Year         int64
 8   Month        int64
 9   Day          int64
 10  Month_Day    int64
 11  TweetNumber  int64
 12  Compound     float64
 13  Sentiment    int64
 14  textloc      object
 15  label        object
 16  lang_y       object
 17  count_ner    float64
 18  textloc_en   object
dtypes: datetime64[ns](2), float64(3), int64(6), object(8)
memory usage: 1.2+ GB

In [202]:
tmfull_hist["Year"].isnull().sum()

0

In [195]:
tmfull_hist.head()

,text,lang_x,created_at,tag,cat,scale,Date,Year,Month,Day,Month_Day,TweetNumber,Compound,Sentiment,textloc,label,lang_y,count_ner,textloc_en
0,RT @caitoz: Still hilarious that the United St...,en,2022-04-02 06:24:13,GN,military invasion,-11.0,2022-04-02 06:24:13,2022,4,2,122,0,0.7003,1,the United States of America,GPE,en,393.0,the United States of America
1,RT @olliecarroll: New: Ukraine says Russia is ...,en,2022-04-02 06:24:04,GN,military invasion,-11.0,2022-04-02 06:24:04,2022,4,2,122,1,0.0000,0,Ukraine,GPE,en,56043.0,Ukraine
2,RT @olliecarroll: New: Ukraine says Russia is ...,en,2022-04-02 06:24:04,GN,military invasion,-11.0,2022-04-02 06:24:04,2022,4,2,122,1,0.0000,0,Ukraine,GPE,fr,158.0,Ukraine
3,RT @olliecarroll: New: Ukraine says Russia is ...,en,2022-04-02 06:24:04,GN,military invasion,-11.0,2022-04-02 06:24:04,2022,4,2,122,1,0.0000,0,Ukraine,GPE,ja,2.0,Ukraine
4,RT @olliecarroll: New: Ukraine says Russia is ...,en,2022-04-02 06:24:04,GN,military invasion,-11.0,2022-04-02 06:24:04,2022,4,2,122,1,0.0000,0,Ukraine,GPE,es,1.0,Ukraine

In [196]:
#Remove unneed columns
tmfull_hist_2 = tmfull_hist.drop(columns = ["lang_y", "Compound", "count_ner", "Date"])
tmfull_hist_2.tail()

,text,lang_x,created_at,tag,cat,scale,Year,Month,Day,Month_Day,TweetNumber,Sentiment,textloc,label,textloc_en
8173484,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022,3,8,98,57,-1,None,None,None
8173485,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022,3,7,97,58,-1,None,None,None
8173486,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022,3,7,97,59,1,None,None,None
8173487,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022,3,9,99,0,-1,,None,
8173488,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022,3,9,99,1,1,,None,

In [203]:
#Drop the duplicates for the sentiment analysis
tmfull_hist_no_dups = tmfull_hist_2.drop_duplicates(subset = ["text", "created_at"], keep = "last")
tmfull_hist_no_dups.tail()

,text,lang_x,created_at,tag,cat,scale,Year,Month,Day,Month_Day,TweetNumber,Sentiment,textloc,label,textloc_en
8173484,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022,3,8,98,57,-1,None,None,None
8173485,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022,3,7,97,58,-1,None,None,None
8173486,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022,3,7,97,59,1,None,None,None
8173487,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022,3,9,99,0,-1,,None,
8173488,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022,3,9,99,1,1,,None,

In [204]:
#Reset index
tmfull_hist_no_dups_2 = tmfull_hist_no_dups.reset_index(drop = True)
tmfull_hist_no_dups_2.tail()

,text,lang_x,created_at,tag,cat,scale,Year,Month,Day,Month_Day,TweetNumber,Sentiment,textloc,label,textloc_en
3314041,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022,3,8,98,57,-1,None,None,None
3314042,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022,3,7,97,58,-1,None,None,None
3314043,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022,3,7,97,59,1,None,None,None
3314044,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022,3,9,99,0,-1,,None,
3314045,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022,3,9,99,1,1,,None,

In [205]:
#Output the dataframe
tmfull_hist_no_dups_2.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Full/Hist_Full_No_Dups.json")

In [ ]:
#Full Data Frame

In [206]:
tmfull_hist_2.tail()

,text,lang_x,created_at,tag,cat,scale,Year,Month,Day,Month_Day,TweetNumber,Sentiment,textloc,label,textloc_en
8173484,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022,3,8,98,57,-1,None,None,None
8173485,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022,3,7,97,58,-1,None,None,None
8173486,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022,3,7,97,59,1,None,None,None
8173487,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022,3,9,99,0,-1,,None,
8173488,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022,3,9,99,1,1,,None,

In [212]:
tmfull_hist_2["tag"].unique()

array(['GN', 'GP'], dtype=object)

In [214]:
tmfull_hist_3 = tmfull_hist_2.reset_index(drop = True)
tmfull_hist_3.tail()

,text,lang_x,created_at,tag,cat,scale,Year,Month,Day,Month_Day,TweetNumber,Sentiment,textloc,label,textloc_en
8173484,さて\nｵﾏｲ達の健康に\n影響のある事をオイラは一応、氣にしてやっているノ\n\nなの?(...,ja,2022-03-08 02:22:47,GN,military attack,-10.0,2022,3,8,98,57,-1,None,None,None
8173485,RT @melt_myself: ミャンマー国連大使 暗殺計画の続報\nさすがの Myanm...,ja,2022-03-07 21:32:20,GN,military attack,-10.0,2022,3,7,97,58,-1,None,None,None
8173486,【画像・動画】ロシア軍、隠していた戦車を火炎瓶攻撃により全滅させられる衝撃映像がこちら・・・...,ja,2022-03-07 06:48:17,GN,military attack,-10.0,2022,3,7,97,59,1,None,None,None
8173487,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:28:20,GN,military attack,-10.0,2022,3,9,99,0,-1,,None,
8173488,Russia's economic sanctions hit 1 trillion yen...,ko,2022-03-09 04:20:48,GN,military attack,-10.0,2022,3,9,99,1,1,,None,

In [215]:
#Output Json File
tmfull_hist_3.to_json(r"/Users/johnc.burns/Documents/Documents/PhD Year Two/My Paper 4/Processed_Full/Hist_Full_With_Dups.json")